Repository ansys/ansys-tools-visualization-interface, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

fix: Mesh slider unclick makes buttons disappear (#362)
  doc/changelog.d/362.miscellaneous.md
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/mesh_slider.py
Labels: none

fix: feedback
  src/ansys/tools/visualization_interface/backends/pyvista/picker.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
Labels: none

fix: Remove init
  src/ansys/tools/visualization_interface/backends/pyvista/picker.py
Labels: none

feat: Refactor picker to allow custom callbacks (#360)
  doc/changelog.d/360.added.md
  doc/source/user_guide/index.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
  examples/00-basic-pyvista-examples/custom_picker.py
  src/ansys/tools/visualization_interface/backends/pyvista/picker.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  tests/test_generic_plotter.py
  tests/test_interactables.py
Labels: documentation, testing

fix: Custom picker init arguments
  examples/00-basic-pyvista-examples/custom_picker.py
  src/ansys/tools/visualization_interface/backends/pyvista/picker.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
Labels: none

chore: adding changelog file 365.miscellaneous.md [dependabot-skip]
  doc/changelog.d/365.miscellaneous.md
Labels: none

fix: Pre-commit
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
Labels: none

fix: Custom picker init arguments (#365)
  doc/changelog.d/365.miscellaneous.md
  examples/00-basic-pyvista-examples/custom_picker.py
  src/ansys/tools/visualization_interface/backends/pyvista/picker.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
Labels: none

fix: Zizmor fixes
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
Labels: maintenance

fix: Add zizmor action
  .github/workflows/ci_cd.yml
Labels: maintenance

chore: adding changelog file 366.miscellaneous.md [dependabot-skip]
  doc/changelog.d/366.miscellaneous.md
Labels: none

chore: adding changelog file 367.miscellaneous.md [dependabot-skip]
  doc/changelog.d/367.miscellaneous.md
Labels: none

fix: Zizmor fixes (#366)
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
  doc/changelog.d/366.miscellaneous.md
Labels: maintenance

feat: Add buttons to Trame viewer
  pyproject.toml
  src/ansys/tools/visualization_interface/backends/pyvista/trame_local.py
Labels: maintenance

chore: adding changelog file 368.miscellaneous.md [dependabot-skip]
  doc/changelog.d/368.miscellaneous.md
Labels: none

maint: Zizmor ignore cache issue
  .github/workflows/ci_cd.yml
Labels: maintenance

chore: adding changelog file 369.miscellaneous.md [dependabot-skip]
  doc/changelog.d/369.miscellaneous.md
Labels: none

maint: Zizmor ignore cache issue (#369)
  .github/workflows/ci_cd.yml
  doc/changelog.d/369.miscellaneous.md
Labels: maintenance

fix: Add screenshot and HTML download buttons, code cleanup
  src/ansys/tools/visualization_interface/backends/pyvista/trame_local.py
Labels: none

fix: pre-commit
  src/ansys/tools/visualization_interface/backends/pyvista/trame_local.py
Labels: none

fix: Rename v3 to vue
  src/ansys/tools/visualization_interface/backends/pyvista/trame_local.py
Labels: none

chore: adding changelog file 370.miscellaneous.md [dependabot-skip]
  doc/changelog.d/370.miscellaneous.md
Labels: none

chore: adding changelog file 372.maintenance.md [dependabot-skip]
  doc/changelog.d/372.maintenance.md
Labels: none

chore: adding changelog file 373.maintenance.md [dependabot-skip]
  doc/changelog.d/373.maintenance.md
Labels: none

feat: Add buttons to Trame viewer (#368)
  doc/changelog.d/368.miscellaneous.md
  pyproject.toml
  src/ansys/tools/visualization_interface/backends/pyvista/trame_local.py
Labels: maintenance

fix: Autoapi
  pyproject.toml
Labels: maintenance

chore: adding changelog file 371.miscellaneous.md [dependabot-skip]
  doc/changelog.d/371.miscellaneous.md
Labels: none

Bump version 0.12.0
  pyproject.toml
Labels: maintenance

chore: updating CHANGELOG for v0.12.0
  CHANGELOG.md
  doc/changelog.d/318.miscellaneous.md
  doc/changelog.d/321.miscellaneous.md
  doc/changelog.d/322.miscellaneous.md
  doc/changelog.d/323.miscellaneous.md
  doc/changelog.d/324.miscellaneous.md
  doc/changelog.d/325.miscellaneous.md
  doc/changelog.d/326.miscellaneous.md
  doc/changelog.d/327.miscellaneous.md
  doc/changelog.d/328.miscellaneous.md
  doc/changelog.d/329.miscellaneous.md
  doc/changelog.d/330.miscellaneous.md
  doc/changelog.d/331.miscellaneous.md
  doc/changelog.d/332.miscellaneous.md
  doc/changelog.d/333.miscellaneous.md
  doc/changelog.d/334.miscellaneous.md
  doc/changelog.d/335.miscellaneous.md
  doc/changelog.d/336.miscellaneous.md
  doc/changelog.d/352.miscellaneous.md
  doc/changelog.d/353.miscellaneous.md
  doc/changelog.d/354.miscellaneous.md
  doc/changelog.d/355.miscellaneous.md
  doc/changelog.d/357.miscellaneous.md
  doc/changelog.d/358.miscellaneous.md
  doc/changelog.d/359.maintenance.md
  doc/changelog.d/360.added.md
  doc/changelog.d/361.miscellaneous.md
  doc/changelog.d/362.miscellaneous.md
  doc/changelog.d/365.miscellaneous.md
  doc/changelog.d/366.miscellaneous.md
  doc/changelog.d/367.miscellaneous.md
  doc/changelog.d/368.miscellaneous.md
  doc/changelog.d/369.miscellaneous.md
  doc/changelog.d/371.miscellaneous.md
  doc/changelog.d/372.maintenance.md
  doc/changelog.d/373.maintenance.md
Labels: none

chore: updating CHANGELOG for v0.12.0
  CHANGELOG.md
  doc/changelog.d/318.miscellaneous.md
  doc/changelog.d/321.miscellaneous.md
  doc/changelog.d/322.miscellaneous.md
  doc/changelog.d/323.miscellaneous.md
  doc/changelog.d/324.miscellaneous.md
  doc/changelog.d/325.miscellaneous.md
  doc/changelog.d/326.miscellaneous.md
  doc/changelog.d/327.miscellaneous.md
  doc/changelog.d/328.miscellaneous.md
  doc/changelog.d/329.miscellaneous.md
  doc/changelog.d/330.miscellaneous.md
  doc/changelog.d/331.miscellaneous.md
  doc/changelog.d/332.miscellaneous.md
  doc/changelog.d/333.miscellaneous.md
  doc/changelog.d/334.miscellaneous.md
  doc/changelog.d/335.miscellaneous.md
  doc/changelog.d/336.miscellaneous.md
  doc/changelog.d/352.miscellaneous.md
  doc/changelog.d/353.miscellaneous.md
  doc/changelog.d/354.miscellaneous.md
  doc/changelog.d/355.miscellaneous.md
  doc/changelog.d/357.miscellaneous.md
  doc/changelog.d/358.miscellaneous.md
  doc/changelog.d/359.maintenance.md
  doc/changelog.d/360.added.md
  doc/changelog.d/361.miscellaneous.md
  doc/changelog.d/362.miscellaneous.md
  doc/changelog.d/365.miscellaneous.md
  doc/changelog.d/366.miscellaneous.md
  doc/changelog.d/367.miscellaneous.md
  doc/changelog.d/368.miscellaneous.md
  doc/changelog.d/369.miscellaneous.md
  doc/changelog.d/371.miscellaneous.md
  doc/changelog.d/372.maintenance.md
  doc/changelog.d/373.maintenance.md
Labels: none

chore: adding changelog file 374.miscellaneous.md [dependabot-skip]
  doc/changelog.d/374.miscellaneous.md
Labels: none

chore: update CHANGELOG for v0.12.0 (#374)
  CHANGELOG.md
  doc/changelog.d/318.miscellaneous.md
  doc/changelog.d/321.miscellaneous.md
  doc/changelog.d/322.miscellaneous.md
  doc/changelog.d/323.miscellaneous.md
  doc/changelog.d/324.miscellaneous.md
  doc/changelog.d/325.miscellaneous.md
  doc/changelog.d/326.miscellaneous.md
  doc/changelog.d/327.miscellaneous.md
  doc/changelog.d/328.miscellaneous.md
  doc/changelog.d/329.miscellaneous.md
  doc/changelog.d/330.miscellaneous.md
  doc/changelog.d/331.miscellaneous.md
  doc/changelog.d/332.miscellaneous.md
  doc/changelog.d/333.miscellaneous.md
  doc/changelog.d/334.miscellaneous.md
  doc/changelog.d/335.miscellaneous.md
  doc/changelog.d/336.miscellaneous.md
  doc/changelog.d/352.miscellaneous.md
  doc/changelog.d/353.miscellaneous.md
  doc/changelog.d/354.miscellaneous.md
  doc/changelog.d/355.miscellaneous.md
  doc/changelog.d/357.miscellaneous.md
  doc/changelog.d/358.miscellaneous.md
  doc/changelog.d/359.maintenance.md
  doc/changelog.d/360.added.md
  doc/changelog.d/361.miscellaneous.md
  doc/changelog.d/362.miscellaneous.md
  doc/changelog.d/365.miscellaneous.md
  doc/changelog.d/366.miscellaneous.md
  doc/changelog.d/367.miscellaneous.md
  doc/changelog.d/368.miscellaneous.md
  doc/changelog.d/369.miscellaneous.md
  doc/changelog.d/371.miscellaneous.md
  doc/changelog.d/372.maintenance.md
  doc/changelog.d/373.maintenance.md
  doc/changelog.d/374.miscellaneous.md
Labels: none

fix: Uninitialized variable in PyVistaBackendInterface
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  tests/test_generic_plotter.py
Labels: testing

chore: adding changelog file 375.miscellaneous.md [dependabot-skip]
  doc/changelog.d/375.miscellaneous.md
Labels: none

fix: Uninitialized variable in PyVistaBackendInterface (#375)
  doc/changelog.d/375.miscellaneous.md
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  tests/test_generic_plotter.py
Labels: testing

chore: adding changelog file 376.miscellaneous.md [dependabot-skip]
  doc/changelog.d/376.miscellaneous.md
Labels: none

Apply suggestions from code review
  doc/source/user_guide/index.rst
  doc/source/user_guide/migration.rst
Labels: documentation

Bump version 0.12.1
  doc/changelog.d/375.miscellaneous.md
  pyproject.toml
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  tests/test_generic_plotter.py
Labels: maintenance, testing

chore: updating CHANGELOG for v0.12.1
  CHANGELOG.md
  doc/changelog.d/375.miscellaneous.md
Labels: none

chore: updating CHANGELOG for v0.12.1
  CHANGELOG.md
  doc/changelog.d/375.miscellaneous.md
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'README.md']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'pyproject.toml', 'tox.ini', '.pre-commit-config.yaml']

testing:
- changed-files:
  - any-glob-to-any-file: ['tests/*']
