Repository ansys/ansys-tools-visualization-interface, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

fix: Example suggeestion
  examples/01-basic-plotly-examples/name-filter.py
Labels: none

feat: Add name filtering for Plotly (#490)
  doc/changelog.d/490.added.md
  examples/01-basic-plotly-examples/name-filter.py
  src/ansys/tools/visualization_interface/backends/plotly/plotly_dash.py
  src/ansys/tools/visualization_interface/backends/plotly/plotly_interface.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
  src/ansys/tools/visualization_interface/plotter.py
  src/ansys/tools/visualization_interface/utils/plotting_options.py
  tests/test_plotly_backend.py
  tests/test_plotting_options.py
Labels: testing

chore: adding changelog file 492.dependencies.md [dependabot-skip]
  doc/changelog.d/492.dependencies.md
Labels: none

chore: adding changelog file 493.dependencies.md [dependabot-skip]
  doc/changelog.d/493.dependencies.md
Labels: none

chore: adding changelog file 494.maintenance.md [dependabot-skip]
  doc/changelog.d/494.maintenance.md
Labels: none

chore: adding changelog file 495.dependencies.md [dependabot-skip]
  doc/changelog.d/495.dependencies.md
Labels: none

chore: adding changelog file 497.maintenance.md [dependabot-skip]
  doc/changelog.d/497.maintenance.md
Labels: none

chore: adding changelog file 498.dependencies.md [dependabot-skip]
  doc/changelog.d/498.dependencies.md
Labels: none

chore: adding changelog file 499.dependencies.md [dependabot-skip]
  doc/changelog.d/499.dependencies.md
Labels: none

chore: adding changelog file 500.dependencies.md [dependabot-skip]
  doc/changelog.d/500.dependencies.md
Labels: none

chore: adding changelog file 501.dependencies.md [dependabot-skip]
  doc/changelog.d/501.dependencies.md
Labels: none

chore: adding changelog file 502.maintenance.md [dependabot-skip]
  doc/changelog.d/502.maintenance.md
Labels: none

chore: adding changelog file 503.dependencies.md [dependabot-skip]
  doc/changelog.d/503.dependencies.md
Labels: none

chore: adding changelog file 504.dependencies.md [dependabot-skip]
  doc/changelog.d/504.dependencies.md
Labels: none

chore: adding changelog file 505.dependencies.md [dependabot-skip]
  doc/changelog.d/505.dependencies.md
Labels: none

chore: adding changelog file 506.maintenance.md [dependabot-skip]
  doc/changelog.d/506.maintenance.md
Labels: none

chore: adding changelog file 507.dependencies.md [dependabot-skip]
  doc/changelog.d/507.dependencies.md
Labels: none

Update license metadata in pyproject.toml
  pyproject.toml
Labels: maintenance

chore: adding changelog file 508.maintenance.md [dependabot-skip]
  doc/changelog.d/508.maintenance.md
Labels: none

fix: Flit version
  pyproject.toml
Labels: maintenance

chore: Update license metadata in pyproject.toml (#508)
  doc/changelog.d/508.maintenance.md
  pyproject.toml
Labels: maintenance

chore: adding changelog file 509.maintenance.md [dependabot-skip]
  doc/changelog.d/509.maintenance.md
Labels: none

chore: adding changelog file 510.dependencies.md [dependabot-skip]
  doc/changelog.d/510.dependencies.md
Labels: none

chore: adding changelog file 511.dependencies.md [dependabot-skip]
  doc/changelog.d/511.dependencies.md
Labels: none

chore: adding changelog file 512.dependencies.md [dependabot-skip]
  doc/changelog.d/512.dependencies.md
Labels: none

chore: adding changelog file 513.dependencies.md [dependabot-skip]
  doc/changelog.d/513.dependencies.md
Labels: none

chore: adding changelog file 514.dependencies.md [dependabot-skip]
  doc/changelog.d/514.dependencies.md
Labels: none

Update doc/source/user_guide/usdviewer.rst
  doc/source/user_guide/usdviewer.rst
Labels: documentation

chore: adding changelog file 515.maintenance.md [dependabot-skip]
  doc/changelog.d/515.maintenance.md
Labels: none

Apply suggestions from code review
  doc/source/user_guide/usdviewer.rst
Labels: documentation

fix: Change link to inline
  doc/source/user_guide/usdviewer.rst
Labels: documentation

feat: Add USD viewer integration (#486)
  doc/changelog.d/486.added.md
  doc/source/index.rst
  doc/source/user_guide/usdviewer.rst
  examples/02-basic-usd-examples/README.txt
  examples/02-basic-usd-examples/plain_usage.py
  src/ansys/tools/visualization_interface/backends/usd/__init__.py
  src/ansys/tools/visualization_interface/backends/usd/usd_interface.py
  tests/test_generic_plotter.py
  tests/test_usd_interface.py
Labels: documentation, testing

Bump version 0.13.0
  pyproject.toml
Labels: maintenance

chore: adding changelog file 516.documentation.md [dependabot-skip]
  doc/changelog.d/516.documentation.md
Labels: none

fix: Add optional USD dependency
  pyproject.toml
Labels: maintenance

chore: adding changelog file 517.fixed.md [dependabot-skip]
  doc/changelog.d/517.fixed.md
Labels: none

chore: adding changelog file 518.maintenance.md [dependabot-skip]
  doc/changelog.d/518.maintenance.md
Labels: none

fix: Add optional USD dependency (#517)
  doc/changelog.d/517.fixed.md
  pyproject.toml
Labels: maintenance

Bump version 0.13.1
  doc/changelog.d/517.fixed.md
  pyproject.toml
Labels: maintenance

chore: updating CHANGELOG for v0.13.1
  CHANGELOG.md
  doc/changelog.d/517.fixed.md
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'README.md']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'pyproject.toml', 'tox.ini', '.pre-commit-config.yaml']

testing:
- changed-files:
  - any-glob-to-any-file: ['tests/*']
