Repository ansys/ansys-tools-visualization-interface, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

chore: updating CHANGELOG for v0.9.1
  CHANGELOG.md
  doc/changelog.d/281.fixed.md
Labels: none

chore: adding changelog file 282.maintenance.md [dependabot-skip]
  doc/changelog.d/282.maintenance.md
Labels: none

chore: update CHANGELOG for v0.9.1 (#282)
  CHANGELOG.md
  doc/changelog.d/281.fixed.md
  doc/changelog.d/282.maintenance.md
Labels: none

chore: adding changelog file 283.maintenance.md [dependabot-skip]
  doc/changelog.d/283.maintenance.md
Labels: none

chore: adding changelog file 284.dependencies.md [dependabot-skip]
  doc/changelog.d/284.dependencies.md
Labels: none

chore: adding changelog file 285.dependencies.md [dependabot-skip]
  doc/changelog.d/285.dependencies.md
Labels: none

chore: adding changelog file 286.dependencies.md [dependabot-skip]
  doc/changelog.d/286.dependencies.md
Labels: none

chore: adding changelog file 287.maintenance.md [dependabot-skip]
  doc/changelog.d/287.maintenance.md
Labels: none

maint: Update Pyvista
  .github/workflows/ci_cd.yml
  doc/source/conf.py
  pyproject.toml
  tox.ini
Labels: documentation, maintenance

chore: adding changelog file 288.documentation.md [dependabot-skip]
  doc/changelog.d/288.documentation.md
Labels: none

fix(temp): Windows doc build
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: Remove VTK patch
  .github/workflows/ci_cd.yml
  doc/Makefile
  pyproject.toml
Labels: maintenance

fix: Docstrings order
  .gitignore
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/button.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/ruler.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/screenshot.py
Labels: none

Update tox.ini
  tox.ini
Labels: maintenance

maint: Update PyVista (#288)
  .github/workflows/ci_cd.yml
  .gitignore
  doc/Makefile
  doc/changelog.d/288.documentation.md
  doc/source/conf.py
  pyproject.toml
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/button.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/ruler.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/screenshot.py
  tox.ini
Labels: documentation, maintenance

chore: adding changelog file 289.dependencies.md [dependabot-skip]
  doc/changelog.d/289.dependencies.md
Labels: none

chore: adding changelog file 290.maintenance.md [dependabot-skip]
  doc/changelog.d/290.maintenance.md
Labels: none

chore: adding changelog file 292.dependencies.md [dependabot-skip]
  doc/changelog.d/292.dependencies.md
Labels: none

chore: adding changelog file 293.maintenance.md [dependabot-skip]
  doc/changelog.d/293.maintenance.md
Labels: none

chore: adding changelog file 294.dependencies.md [dependabot-skip]
  doc/changelog.d/294.dependencies.md
Labels: none

chore: adding changelog file 295.maintenance.md [dependabot-skip]
  doc/changelog.d/295.maintenance.md
Labels: none

chore: adding changelog file 296.maintenance.md [dependabot-skip]
  doc/changelog.d/296.maintenance.md
Labels: none

chore: adding changelog file 297.dependencies.md [dependabot-skip]
  doc/changelog.d/297.dependencies.md
Labels: none

chore: adding changelog file 298.maintenance.md [dependabot-skip]
  doc/changelog.d/298.maintenance.md
Labels: none

docs: avoid parallelization
  doc/Makefile
Labels: none

docs: avoid parallelization
  doc/make.bat
Labels: none

chore: adding changelog file 299.documentation.md [dependabot-skip]
  doc/changelog.d/299.documentation.md
Labels: none

fix: PIn trame-vtk dependency
  doc/Makefile
  doc/make.bat
  pyproject.toml
Labels: maintenance

Update pyproject.toml
  pyproject.toml
Labels: maintenance

docs: avoid parallelization (#299)
  doc/changelog.d/299.documentation.md
  pyproject.toml
Labels: maintenance

docs: avoid parallelization (#299)
  doc/changelog.d/299.documentation.md
  pyproject.toml
Labels: maintenance

Bump version 0.9.2
  pyproject.toml
Labels: maintenance

chore: updating CHANGELOG for v0.9.2
  CHANGELOG.md
  doc/changelog.d/299.documentation.md
Labels: none

chore: updating CHANGELOG for v0.9.2
  CHANGELOG.md
  doc/changelog.d/299.documentation.md
Labels: none

chore: adding changelog file 300.maintenance.md [dependabot-skip]
  doc/changelog.d/300.maintenance.md
Labels: none

chore: adding changelog file 302.dependencies.md [dependabot-skip]
  doc/changelog.d/302.dependencies.md
Labels: none

chore: adding changelog file 301.dependencies.md [dependabot-skip]
  doc/changelog.d/301.dependencies.md
Labels: none

chore: adding changelog file 303.maintenance.md [dependabot-skip]
  doc/changelog.d/303.maintenance.md
Labels: none

chore: adding changelog file 303.miscellaneous.md [dependabot-skip]
  doc/changelog.d/303.miscellaneous.md
Labels: none

chore: update CHANGELOG for v0.9.2 (#300)
  CHANGELOG.md
  doc/changelog.d/299.documentation.md
  doc/changelog.d/300.maintenance.md
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'README.md']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'pyproject.toml', 'tox.ini', '.pre-commit-config.yaml']

testing:
- changed-files:
  - any-glob-to-any-file: ['tests/*']
