Repository ansys/ansys-tools-visualization-interface, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

Adding changelog entry: 86.added.md
  doc/changelog.d/86.added.md
Labels: none

feat: add dynamic scraper on docs (#86)
  .gitignore
  doc/changelog.d/86.added.md
  doc/make.bat
  doc/source/conf.py
Labels: documentation

fix: install vtk-osmesa rather than vtk
  doc/Makefile
  doc/make.bat
Labels: none

Adding changelog entry: 88.fixed.md
  doc/changelog.d/88.fixed.md
Labels: none

fix: dynamic scraper via vtk-osmesa (#88)
  doc/Makefile
  doc/changelog.d/88.fixed.md
  doc/make.bat
Labels: none

chore: adding changelog file 89.changed.md
  doc/changelog.d/89.changed.md
Labels: none

chore: adding changelog file 90.changed.md
  doc/changelog.d/90.changed.md
Labels: none

feat: Add interactive documentation
  doc/Makefile
  doc/make.bat
  doc/source/conf.py
  examples/00-basic-pyvista-examples/plain.py
  pyproject.toml
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: documentation, maintenance

chore: adding changelog file 92.added.md
  doc/changelog.d/92.added.md
Labels: none

feat: Add proper clean to makefile
  doc/Makefile
  doc/source/conf.py
Labels: documentation

fix: Example
  examples/00-basic-pyvista-examples/clipping_plane.py
Labels: none

fix: example
  examples/00-basic-pyvista-examples/clipping_plane.py
Labels: none

fix: remove extra deps
  pyproject.toml
Labels: maintenance

fix: Remove jupyter backend as not needed anymore
  examples/00-basic-pyvista-examples/plain.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: none

test: Remove osmesa
  doc/Makefile
  doc/make.bat
Labels: none

feat: Add interactive documentation (#92)
  doc/Makefile
  doc/changelog.d/92.added.md
  doc/source/conf.py
  examples/00-basic-pyvista-examples/clipping_plane.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: documentation

fix: Search not working
  doc/source/conf.py
Labels: documentation

chore: adding changelog file 93.fixed.md
  doc/changelog.d/93.fixed.md
Labels: none

fix: Search not working (#93)
  doc/changelog.d/93.fixed.md
  doc/source/conf.py
Labels: documentation

feat: Remove buttons on screenshot and static docs
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: none

feat: Add test and example for screenshots
  examples/00-basic-pyvista-examples/plain_usage.py
  tests/test_generic_plotter.py
Labels: testing

chore: adding changelog file 94.added.md
  doc/changelog.d/94.added.md
Labels: none

feat: Remove buttons on screenshot and static docs (#94)
  doc/changelog.d/94.added.md
  examples/00-basic-pyvista-examples/plain_usage.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
  tests/test_generic_plotter.py
Labels: testing

feat: Add plane clip slider
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/planecut.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/mesh_slider.py
Labels: none

chore: adding changelog file 95.added.md
  doc/changelog.d/95.added.md
Labels: none

fix: Remove outdated comment
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/mesh_slider.py
Labels: none

feat: Add screenshot button
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/screenshot.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/screenshot.py
Labels: none

Revert "feat: Add screenshot button"
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/screenshot.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/ruler.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/screenshot.py
Labels: none

feat: Add screenshot button
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/screenshot.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/screenshot.py
Labels: none

chore: adding changelog file 96.added.md
  doc/changelog.d/96.added.md
Labels: none

fix: Comments
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/screenshot.py
Labels: none

feat: Add plane clip slider (#95)
  doc/changelog.d/95.added.md
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/planecut.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/mesh_slider.py
Labels: none

feat: Add screenshot button (#96)
  doc/changelog.d/96.added.md
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/screenshot.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/screenshot.py
Labels: none

fix: Buttons still appearing in doc
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
Labels: none

chore: adding changelog file 97.fixed.md
  doc/changelog.d/97.fixed.md
Labels: none

fix: Widget imports order
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/measure.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/mesh_slider.py
Labels: none

fix: Buttons still appearing in doc (#97)
  doc/changelog.d/97.fixed.md
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/measure.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/mesh_slider.py
Labels: none

feat: Add hover capabilities
  examples/00-basic-pyvista-examples/picker.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/measure.py
Labels: none

chore: adding changelog file 98.added.md
  doc/changelog.d/98.added.md
Labels: none

chore: adding changelog file 98.added.md
  doc/changelog.d/98.added.md
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'README.md']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'pyproject.toml', 'tox.ini', '.pre-commit-config.yaml']

testing:
- changed-files:
  - any-glob-to-any-file: ['tests/*']
