Repository ansys/ansys-tools-visualization-interface, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'README.md']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'pyproject.toml', 'tox.ini', '.pre-commit-config.yaml']

testing:
- changed-files:
  - any-glob-to-any-file: ['tests/*']

feat: screenshot is only possible if off_screen is active (#50)
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: none

fix: Add setuptools dependency
  pyproject.toml
Labels: maintenance

fix: __Version__
  pyproject.toml
  src/ansys/tools/visualization_interface/__init__.py
Labels: maintenance

fix: Modified dependencies
  pyproject.toml
Labels: maintenance

first commit
  README.md
Labels: documentation

fix: Off screen testing mode and fix version getter (#51)
  src/ansys/tools/visualization_interface/__init__.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: none

fix: Remove bad readme
  README.md
Labels: documentation

fix: Remove bad readme (#52)
  README.md
Labels: documentation

Bump version 0.2.0
  pyproject.toml
Labels: maintenance

feat: Add changelog
  .github/workflows/label.yml
  CHANGELOG.md
  doc/changelog.d/changelog_template.jinja
  pyproject.toml
Labels: maintenance

Adding changelog entry: 58.added.md
  doc/changelog.d/58.added.md
Labels: none

feat: Add vulnerability checker
  .github/workflows/ci_cd.yml
Labels: maintenance

Adding changelog entry: 58.added.md
  doc/changelog.d/58.added.md
Labels: none

fix: Version
  pyproject.toml
Labels: maintenance

doc: fix wrong example
  doc/source/user_guide/index.rst
Labels: documentation

doc: fix wrong example (#61)
  doc/source/user_guide/index.rst
Labels: documentation

feat: add changelog and vulnerability check (#58)
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
  CHANGELOG.md
  doc/changelog.d/58.added.md
  doc/changelog.d/changelog_template.jinja
  pyproject.toml
Labels: maintenance

fix: Ignore pickle vulnerability
  src/ansys/tools/visualization_interface/backends/pyvista/trame_remote.py
  src/ansys/tools/visualization_interface/backends/pyvista/trame_service.py
Labels: none

Adding changelog entry: 62.fixed.md
  doc/changelog.d/62.fixed.md
Labels: none

fix: Ignore pickle vulnerabilities
  src/ansys/tools/visualization_interface/backends/pyvista/trame_remote.py
  src/ansys/tools/visualization_interface/backends/pyvista/trame_service.py
Labels: none

fix: FIx support for interactive documentation
  pyproject.toml
  src/ansys/tools/visualization_interface/__init__.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: maintenance

Adding changelog entry: 63.fixed.md
  doc/changelog.d/63.fixed.md
Labels: none

fix: Document environment variables
  src/ansys/tools/visualization_interface/__init__.py
Labels: none

fix: Fix support for interactive documentation (#63)
  doc/changelog.d/63.fixed.md
  pyproject.toml
  src/ansys/tools/visualization_interface/__init__.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: maintenance

Update CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: none

Update pyproject.toml
  pyproject.toml
Labels: maintenance

Adding changelog entry: 53.changed.md
  doc/changelog.d/53.changed.md
Labels: none

Bump version 0.2.1
  doc/changelog.d/63.fixed.md
  pyproject.toml
  src/ansys/tools/visualization_interface/__init__.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: maintenance

fix: usage of global vars throughout the library
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: none

Adding changelog entry: 65.fixed.md
  doc/changelog.d/65.fixed.md
Labels: none

fix: usage of global vars throughout the library (#65)
  doc/changelog.d/65.fixed.md
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: none

Bump version 0.2.2
  doc/changelog.d/65.fixed.md
  pyproject.toml
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: maintenance

ci: enable proper Codecov upload
  .github/workflows/ci_cd.yml
Labels: maintenance

Adding changelog entry: 68.changed.md
  doc/changelog.d/68.changed.md
Labels: none

ci: enable proper Codecov upload (#68)
  .github/workflows/ci_cd.yml
  doc/changelog.d/68.changed.md
Labels: maintenance

Adding changelog entry: 69.dependencies.md
  doc/changelog.d/69.dependencies.md
Labels: none

fix: Off_screen not working properly
  doc/source/conf.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: documentation

Adding changelog entry: 71.fixed.md
  doc/changelog.d/71.fixed.md
Labels: none

fix: Add comments explaining vulnerability
  src/ansys/tools/visualization_interface/backends/pyvista/trame_remote.py
  src/ansys/tools/visualization_interface/backends/pyvista/trame_service.py
Labels: none

fix: Off_screen not working properly (#71)
  doc/changelog.d/71.fixed.md
  doc/source/conf.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: documentation
