Repository ansys/ansys-tools-visualization-interface, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

chore: adding changelog file 118.added.md
  doc/changelog.d/118.added.md
Labels: none

feat: allow for multi_colors argument in plotting options (#118)
  doc/changelog.d/118.added.md
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: none

fix: Allow PyVista HTML jupyter backend
  src/ansys/tools/visualization_interface/__init__.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: none

chore: adding changelog file 119.fixed.md
  doc/changelog.d/119.fixed.md
Labels: none

fix: Allow PyVista HTML jupyter backend (#119)
  doc/changelog.d/119.fixed.md
  src/ansys/tools/visualization_interface/__init__.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: none

Bump version 0.4.0
  pyproject.toml
Labels: maintenance

chore: adding changelog file 120.dependencies.md
  doc/changelog.d/120.dependencies.md
Labels: none

chore: adding changelog file 121.dependencies.md
  doc/changelog.d/121.dependencies.md
Labels: none

maint: Drop 3.9 support
  .github/workflows/ci_cd.yml
  pyproject.toml
Labels: maintenance

chore: adding changelog file 122.changed.md
  doc/changelog.d/122.changed.md
Labels: none

maint: Drop 3.9 support (#122)
  .github/workflows/ci_cd.yml
  doc/changelog.d/122.changed.md
  pyproject.toml
Labels: maintenance

chore: adding changelog file 123.changed.md
  doc/changelog.d/123.changed.md
Labels: none

chore: adding changelog file 124.dependencies.md
  doc/changelog.d/124.dependencies.md
Labels: none

chore: adding changelog file 125.dependencies.md
  doc/changelog.d/125.dependencies.md
  pyproject.toml
Labels: maintenance

chore: adding changelog file 126.maintenance.md
  doc/changelog.d/126.maintenance.md
Labels: none

chore: adding changelog file 127.dependencies.md
  doc/changelog.d/127.dependencies.md
Labels: none

chore: adding changelog file 128.dependencies.md
  doc/changelog.d/128.dependencies.md
Labels: none

chore: adding changelog file 129.maintenance.md
  doc/changelog.d/129.maintenance.md
Labels: none

chore: adding changelog file 131.dependencies.md
  doc/changelog.d/131.dependencies.md
Labels: none

chore: adding changelog file 132.dependencies.md
  doc/changelog.d/132.dependencies.md
Labels: none

fix: cleanup autoapi
  doc/source/conf.py
Labels: documentation

chore: adding changelog file 132.documentation.md
  doc/changelog.d/132.documentation.md
Labels: none

chore: adding changelog file 133.maintenance.md
  doc/changelog.d/133.maintenance.md
Labels: none

fix: Remove Jupyter warning
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: none

chore: adding changelog file 135.fixed.md
  doc/changelog.d/135.fixed.md
Labels: none

fix: Remove Jupyter warning (#135)
  doc/changelog.d/135.fixed.md
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: none

Bump version 0.4.1
  doc/changelog.d/135.fixed.md
  pyproject.toml
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: maintenance

chore: adding changelog file 137.dependencies.md
  doc/changelog.d/137.dependencies.md
Labels: none

chore: adding changelog file 138.maintenance.md
  doc/changelog.d/138.maintenance.md
Labels: none

fix: Missing support for unstructured grid types
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: none

chore: adding changelog file 140.fixed.md
  doc/changelog.d/140.fixed.md
Labels: none

Update src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: none

test: Add UnstructuredGrid test
  tests/test_generic_plotter.py
Labels: testing

fix: Missing support for unstructured grid types (#140)
  doc/changelog.d/140.fixed.md
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
  tests/test_generic_plotter.py
Labels: testing

Bump version 0.4.3
  doc/changelog.d/140.fixed.md
  pyproject.toml
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
  tests/test_generic_plotter.py
Labels: maintenance, testing

fix: UnstructuredGrid not working with clipping plane widget
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/mesh_slider.py
Labels: none

chore: adding changelog file 142.fixed.md
  doc/changelog.d/142.fixed.md
Labels: none

chore: adding changelog file 143.dependencies.md
  doc/changelog.d/143.dependencies.md
Labels: none

chore: adding changelog file 144.dependencies.md
  doc/changelog.d/144.dependencies.md
Labels: none

fix: edges not showing in slide plane widget
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/mesh_slider.py
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'README.md']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'pyproject.toml', 'tox.ini', '.pre-commit-config.yaml']

testing:
- changed-files:
  - any-glob-to-any-file: ['tests/*']
