Repository ansys/ansys-tools-visualization-interface, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'README.md']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'pyproject.toml', 'tox.ini', '.pre-commit-config.yaml']

testing:
- changed-files:
  - any-glob-to-any-file: ['tests/*']

fix: Image cache path
  .github/workflows/ci_cd.yml
Labels: maintenance

test: Add interaction testing (#352)
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
  .pre-commit-config.yaml
  doc/changelog.d/352.miscellaneous.md
  pyproject.toml
  src/ansys/tools/visualization_interface/plotter.py
  tests/test_interactables.py
Labels: maintenance, testing

chore: adding changelog file 353.miscellaneous.md [dependabot-skip]
  doc/changelog.d/353.miscellaneous.md
Labels: none

fix: Remove buttons in screenshots
  examples/00-basic-pyvista-examples/plain_usage.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/screenshot.py
Labels: none

chore: adding changelog file 354.miscellaneous.md [dependabot-skip]
  doc/changelog.d/354.miscellaneous.md
Labels: none

fix: Add measure tool dark mode
  examples/00-basic-pyvista-examples/plain_usage.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/measure.py
Labels: none

fix: Remove example debug line
  examples/00-basic-pyvista-examples/plain_usage.py
Labels: none

chore: adding changelog file 355.miscellaneous.md [dependabot-skip]
  doc/changelog.d/355.miscellaneous.md
Labels: none

feat: Add rotation center selection
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/center_pick.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/center_pick_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/pick_rotation_center.py
  tests/test_interactables.py
Labels: testing

chore: adding changelog file 357.miscellaneous.md [dependabot-skip]
  doc/changelog.d/357.miscellaneous.md
Labels: none

fix: Remove unneeded Off
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/screenshot.py
Labels: none

fix: Add measure tool dark mode (#355)
  doc/changelog.d/355.miscellaneous.md
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/measure.py
Labels: none

fix: Remove buttons in screenshots (#354)
  doc/changelog.d/354.miscellaneous.md
  examples/00-basic-pyvista-examples/plain_usage.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/screenshot.py
Labels: none

fix: Remove ball when unselecting the pick button
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/pick_rotation_center.py
Labels: none

feat: Add rotation center selection (#357)
  doc/changelog.d/357.miscellaneous.md
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/center_pick.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/center_pick_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/pick_rotation_center.py
  tests/test_interactables.py
Labels: testing

fix: Avoid importing VTK on startup
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/button.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/hide_buttons.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/measure.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/mesh_slider.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/pick_rotation_center.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/ruler.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/screenshot.py
Labels: none

chore: adding changelog file 358.miscellaneous.md [dependabot-skip]
  doc/changelog.d/358.miscellaneous.md
Labels: none

fix: Pre-commit
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/pick_rotation_center.py
Labels: none

fix: Pre-commit
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/measure.py
Labels: none

feat: Add night mode and reorganize buttons
  .github/workflows/ci_cd.yml
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/dark_mode.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/dark_mode_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/dark_mode.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/displace_arrows.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/measure.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/mesh_slider.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/pick_rotation_center.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/ruler.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/screenshot.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/view_button.py
  tests/test_interactables.py
Labels: maintenance, testing

chore: adding changelog file 359.maintenance.md [dependabot-skip]
  doc/changelog.d/359.maintenance.md
Labels: none

fix: Docstrings
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/dark_mode.py
Labels: none

feat: Add night mode and reorganize buttons (#359)
  .github/workflows/ci_cd.yml
  doc/changelog.d/359.maintenance.md
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/dark_mode.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/dark_mode_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/dark_mode.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/displace_arrows.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/measure.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/mesh_slider.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/pick_rotation_center.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/ruler.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/screenshot.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/view_button.py
  tests/test_interactables.py
Labels: maintenance, testing

feat: Refactor picker to allow custom callbacks
  doc/source/user_guide/index.rst
  examples/00-basic-pyvista-examples/custom_picker.py
  src/ansys/tools/visualization_interface/backends/pyvista/picker.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  tests/test_generic_plotter.py
Labels: documentation, testing

chore: adding changelog file 360.added.md [dependabot-skip]
  doc/changelog.d/360.added.md
Labels: none

fix: pre-commit
  doc/source/user_guide/index.rst
  examples/00-basic-pyvista-examples/custom_picker.py
  src/ansys/tools/visualization_interface/backends/pyvista/picker.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
Labels: documentation

chore: adding changelog file 361.miscellaneous.md [dependabot-skip]
  doc/changelog.d/361.miscellaneous.md
Labels: none

fix: Avoid importing VTK on startup (#358)
  doc/changelog.d/358.miscellaneous.md
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/button.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/hide_buttons.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/measure.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/mesh_slider.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/pick_rotation_center.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/ruler.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/screenshot.py
Labels: none

fix: test using old variable
  tests/test_interactables.py
Labels: testing

fix: Accept unhovered
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: none

fix: Failing doc example
  examples/00-basic-pyvista-examples/custom_picker.py
Labels: none

fix: Example
  examples/00-basic-pyvista-examples/custom_picker.py
Labels: none

fix: Mesh slider unclick makes buttons disappear
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/mesh_slider.py
Labels: none

chore: adding changelog file 362.miscellaneous.md [dependabot-skip]
  doc/changelog.d/362.miscellaneous.md
Labels: none

doc: Add extended migration guide
  doc/source/index.rst
  doc/source/user_guide/index.rst
  doc/source/user_guide/migration.rst
Labels: documentation

chore: adding changelog file 363.miscellaneous.md [dependabot-skip]
  doc/changelog.d/363.miscellaneous.md
Labels: none

fix: Pre-commit
  doc/source/user_guide/migration.rst
Labels: documentation

fix: Vale
  doc/source/user_guide/migration.rst
Labels: documentation

fix: Vale warnings
  doc/source/user_guide/migration.rst
Labels: documentation

fix: Vale warnings
  doc/source/user_guide/migration.rst
Labels: documentation
