Repository ansys/ansys-tools-visualization-interface, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'README.md']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'pyproject.toml', 'tox.ini', '.pre-commit-config.yaml']

testing:
- changed-files:
  - any-glob-to-any-file: ['tests/*']

chore: adding changelog file 171.dependencies.md [dependabot-skip]
  doc/changelog.d/171.dependencies.md
Labels: none

fix: handle properly multi_colors=False
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: none

chore: adding changelog file 172.fixed.md [dependabot-skip]
  doc/changelog.d/172.fixed.md
Labels: none

fix: handle properly multi_colors=False (#172)
  doc/changelog.d/172.fixed.md
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: none

release: v0.4.6
  pyproject.toml
Labels: maintenance

chore: bump dev version
  pyproject.toml
Labels: maintenance

chore: adding changelog file 174.maintenance.md [dependabot-skip]
  doc/changelog.d/174.maintenance.md
Labels: none

fix: preserve access order using dictionary and adapt show to already existing objects
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
Labels: none

chore: adding changelog file 175.added.md [dependabot-skip]
  doc/changelog.d/175.added.md
Labels: none

fix: var change proposed by @AlejandroFernandezLuces
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
Labels: none

fix: preserve access order using dictionary and adapt show to already existing objects (#175)
  doc/changelog.d/175.added.md
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
Labels: none

Bump version 0.4.7
  doc/changelog.d/175.added.md
  pyproject.toml
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
Labels: maintenance

chore: adding changelog file 176.dependencies.md [dependabot-skip]
  doc/changelog.d/176.dependencies.md
Labels: none

chore: adding changelog file 177.maintenance.md [dependabot-skip]
  doc/changelog.d/177.maintenance.md
Labels: none

fix: Changelog action failing on release
  pyproject.toml
Labels: maintenance

chore: adding changelog file 178.fixed.md [dependabot-skip]
  doc/changelog.d/178.fixed.md
Labels: none

fix: Changelog action failing on release (#178)
  doc/changelog.d/178.fixed.md
  pyproject.toml
Labels: maintenance

fix: Reduce import time of the library
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
Labels: none

chore: adding changelog file 179.fixed.md [dependabot-skip]
  doc/changelog.d/179.fixed.md
Labels: none

feat: Add StructuredGrid support
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/mesh_slider.py
  tests/test_generic_plotter.py
Labels: testing

chore: adding changelog file 180.added.md [dependabot-skip]
  doc/changelog.d/180.added.md
Labels: none

feat: Add example
  examples/00-basic-pyvista-examples/picker.py
  tests/test_generic_plotter.py
Labels: testing

fix: Docstrings
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: none

Update src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: none

feat: Add StructuredGrid support (#180)
  doc/changelog.d/180.added.md
  examples/00-basic-pyvista-examples/picker.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/mesh_slider.py
  tests/test_generic_plotter.py
Labels: testing

fix: Improve module imports
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/trame_local.py
Labels: none

fix: Remove beartype
  pyproject.toml
  src/ansys/tools/visualization_interface/backends/_base.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
  src/ansys/tools/visualization_interface/backends/pyvista/trame_remote.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/hide_buttons.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/measure.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/mesh_slider.py
  src/ansys/tools/visualization_interface/plotter.py
  src/ansys/tools/visualization_interface/types/edge_plot.py
  src/ansys/tools/visualization_interface/types/mesh_object_plot.py
  src/ansys/tools/visualization_interface/utils/clip_plane.py
Labels: maintenance

fix: Reduce import time of the library (#179)
  doc/changelog.d/179.fixed.md
  pyproject.toml
  src/ansys/tools/visualization_interface/backends/_base.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
  src/ansys/tools/visualization_interface/backends/pyvista/trame_local.py
  src/ansys/tools/visualization_interface/backends/pyvista/trame_remote.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/hide_buttons.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/measure.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/mesh_slider.py
  src/ansys/tools/visualization_interface/plotter.py
  src/ansys/tools/visualization_interface/types/edge_plot.py
  src/ansys/tools/visualization_interface/types/mesh_object_plot.py
  src/ansys/tools/visualization_interface/utils/clip_plane.py
Labels: maintenance

Bump version 0.5.0
  pyproject.toml
Labels: maintenance

chore: adding changelog file 181.maintenance.md [dependabot-skip]
  doc/changelog.d/181.maintenance.md
Labels: none

chore: adding changelog file 182.dependencies.md [dependabot-skip]
  doc/changelog.d/182.dependencies.md
Labels: none

chore: adding changelog file 183.dependencies.md [dependabot-skip]
  doc/changelog.d/183.dependencies.md
Labels: none

Update AUTHORS
  AUTHORS
Labels: none

chore: adding changelog file 184.maintenance.md [dependabot-skip]
  doc/changelog.d/184.maintenance.md
Labels: none

maint: Update AUTHORS (#184)
  AUTHORS
  doc/changelog.d/184.maintenance.md
Labels: none

chore: updating CHANGELOG for v0.5.0
  CHANGELOG.md
Labels: none

chore: updating CHANGELOG for v0.5.0
  CHANGELOG.md
Labels: none

chore: adding changelog file 185.maintenance.md [dependabot-skip]
  doc/changelog.d/185.maintenance.md
Labels: none

fix: Changelog action failing on release
  .github/workflows/ci_cd.yml
Labels: maintenance

chore: adding changelog file 186.maintenance.md [dependabot-skip]
  doc/changelog.d/186.maintenance.md
Labels: none
