Repository ansys/ansys-tools-visualization-interface, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

Bump version 0.2.3
  doc/changelog.d/71.fixed.md
  doc/source/conf.py
  pyproject.toml
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: documentation, maintenance

Adding changelog entry: 72.dependencies.md
  doc/changelog.d/72.dependencies.md
Labels: none

Adding changelog entry: 70.changed.md
  doc/changelog.d/70.changed.md
Labels: none

fix: Bug in MeshObject clipping
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: none

Adding changelog entry: 73.fixed.md
  doc/changelog.d/73.fixed.md
Labels: none

fix: Bug in MeshObject clipping (#73)
  doc/changelog.d/73.fixed.md
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: none

Bump version 0.2.4
  doc/changelog.d/73.fixed.md
  pyproject.toml
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: maintenance

fix: Ignore pickle vulnerability (#62)
  doc/changelog.d/62.fixed.md
  src/ansys/tools/visualization_interface/backends/pyvista/trame_remote.py
  src/ansys/tools/visualization_interface/backends/pyvista/trame_service.py
Labels: none

fix: Rename built in shadowing variables
  src/ansys/tools/visualization_interface/backends/_base.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
  src/ansys/tools/visualization_interface/plotter.py
  tests/test_generic_plotter.py
Labels: testing

Adding changelog entry: 75.fixed.md
  doc/changelog.d/75.fixed.md
Labels: none

fix: Rename built in shadowing variables (#75)
  doc/changelog.d/75.fixed.md
  src/ansys/tools/visualization_interface/backends/_base.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
  src/ansys/tools/visualization_interface/plotter.py
  tests/test_generic_plotter.py
Labels: testing

Bump version 0.2.6
  doc/changelog.d/75.fixed.md
  pyproject.toml
  src/ansys/tools/visualization_interface/backends/_base.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
  src/ansys/tools/visualization_interface/plotter.py
  tests/test_generic_plotter.py
Labels: maintenance, testing

maint: Add codeowners file
  .github/CODEOWNERS
Labels: maintenance

Adding changelog entry: 76.changed.md
  doc/changelog.d/76.changed.md
Labels: none

Adding changelog entry: 76.changed.md
  doc/changelog.d/76.changed.md
Labels: none

maint: Add @RobPasMue to CODEOWNERS
  .github/CODEOWNERS
Labels: maintenance

maint: Add project URLs to toml
  pyproject.toml
Labels: maintenance

maint: Add CODEOWNERS file (#76)
  .github/CODEOWNERS
  doc/changelog.d/76.changed.md
Labels: maintenance

Adding changelog entry: 77.changed.md
  doc/changelog.d/77.changed.md
Labels: none

maint: Add project URLs to toml (#77)
  doc/changelog.d/77.changed.md
  pyproject.toml
Labels: maintenance

maint: Upload PDF documentation
  .github/workflows/ci_cd.yml
Labels: maintenance

Adding changelog entry: 80.changed.md
  doc/changelog.d/80.changed.md
Labels: none

fix: Move pdf to proper place in makefiles
  doc/Makefile
  doc/make.bat
Labels: none

fix: Bad path
  doc/Makefile
Labels: none

fix: make missing directory
  doc/Makefile
  doc/make.bat
Labels: none

fix: mkdir
  doc/Makefile
  doc/make.bat
Labels: none

fix: Add details to contributing guide
  CONTRIBUTING.md
  tests/conftest.py
Labels: testing

Adding changelog entry: 81.miscellaneous.md
  doc/changelog.d/81.miscellaneous.md
Labels: none

fix: remove unneeded env variable
  .github/workflows/ci_cd.yml
Labels: maintenance

Adding changelog entry: 81.changed.md
  doc/changelog.d/81.changed.md
Labels: none

fix: Undo changes in makefiles
  doc/Makefile
  doc/make.bat
Labels: none

maint: Upload PDF documentation (#80)
  .github/workflows/ci_cd.yml
  doc/changelog.d/80.changed.md
Labels: maintenance

maint: Upload to PyPI as trusted publisher
  .github/workflows/ci_cd.yml
Labels: maintenance

Adding changelog entry: 82.changed.md
  doc/changelog.d/82.changed.md
Labels: none

maint: Upload to PyPI as trusted publisher (#82)
  .github/workflows/ci_cd.yml
  doc/changelog.d/82.changed.md
Labels: maintenance

fix: Add details to contributing guide (#81)
  .github/workflows/ci_cd.yml
  CONTRIBUTING.md
  doc/changelog.d/81.changed.md
  tests/conftest.py
Labels: maintenance, testing

Adding changelog entry: 83.changed.md
  doc/changelog.d/83.changed.md
Labels: none

Adding changelog entry: 84.dependencies.md
  doc/changelog.d/84.dependencies.md
Labels: none

Adding changelog entry: 85.changed.md
  doc/changelog.d/85.changed.md
Labels: none

feat: add dynamic scraper on docs
  .gitignore
  doc/make.bat
  doc/source/conf.py
Labels: documentation

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'README.md']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'pyproject.toml', 'tox.ini', '.pre-commit-config.yaml']

testing:
- changed-files:
  - any-glob-to-any-file: ['tests/*']
