Repository ansys/ansys-tools-visualization-interface, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

chore: adding changelog file 557.dependencies.md [dependabot-skip]
  doc/changelog.d/557.dependencies.md
Labels: none

chore: adding changelog file 555.dependencies.md [dependabot-skip]
  doc/changelog.d/555.dependencies.md
Labels: none

fix: Use PyVista optional dependency
  pyproject.toml
Labels: maintenance

chore: adding changelog file 558.fixed.md [dependabot-skip]
  doc/changelog.d/558.fixed.md
Labels: none

fix: Use PyVista optional dependency (#558)
  doc/changelog.d/558.fixed.md
  pyproject.toml
Labels: maintenance

fix: Check vulns
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: Vuln advisory
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: none

fix: revert vuln logs
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: Ignore links
  doc/source/conf.py
Labels: documentation

fix: auto-detect Jupyter kernel to avoid blank trame renders (#548)
  .github/workflows/ci_cd.yml
  CONTRIBUTORS.md
  doc/changelog.d/548.fixed.md
  doc/source/conf.py
  pyproject.toml
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: documentation, maintenance

chore: adding changelog file 559.maintenance.md [dependabot-skip]
  doc/changelog.d/559.maintenance.md
Labels: none

chore: adding changelog file 560.dependencies.md [dependabot-skip]
  doc/changelog.d/560.dependencies.md
Labels: none

chore: adding changelog file 561.dependencies.md [dependabot-skip]
  doc/changelog.d/561.dependencies.md
Labels: none

maint: Group dependabot actions updates
  .github/dependabot.yml
Labels: maintenance

chore: adding changelog file 571.maintenance.md [dependabot-skip]
  doc/changelog.d/571.maintenance.md
Labels: none

fix: Qt CI issues
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: none

chore: adding changelog file 572.fixed.md [dependabot-skip]
  doc/changelog.d/572.fixed.md
Labels: none

fix: Qt CI issues (#572)
  doc/changelog.d/572.fixed.md
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: none

chore: adding changelog file 562.dependencies.md [dependabot-skip]
  doc/changelog.d/562.dependencies.md
Labels: none

chore: adding changelog file 565.dependencies.md [dependabot-skip]
  doc/changelog.d/565.dependencies.md
Labels: none

chore: adding changelog file 564.dependencies.md [dependabot-skip]
  doc/changelog.d/564.dependencies.md
Labels: none

chore: adding changelog file 566.dependencies.md [dependabot-skip]
  doc/changelog.d/566.dependencies.md
Labels: none

chore: adding changelog file 570.dependencies.md [dependabot-skip]
  doc/changelog.d/570.dependencies.md
Labels: none

chore: adding changelog file 569.dependencies.md [dependabot-skip]
  doc/changelog.d/569.dependencies.md
Labels: none

chore: adding changelog file 567.dependencies.md [dependabot-skip]
  doc/changelog.d/567.dependencies.md
Labels: none

chore: adding changelog file 568.dependencies.md [dependabot-skip]
  doc/changelog.d/568.dependencies.md
Labels: none

chore: adding changelog file 573.maintenance.md [dependabot-skip]
  doc/changelog.d/573.maintenance.md
Labels: none

maint: Group dependabot actions updates (#571)
  .github/dependabot.yml
  doc/changelog.d/571.maintenance.md
Labels: maintenance

chore: adding changelog file 563.dependencies.md [dependabot-skip]
  doc/changelog.d/563.dependencies.md
Labels: none

chore: adding changelog file 574.dependencies.md [dependabot-skip]
  doc/changelog.d/574.dependencies.md
Labels: none

docs: add USD-to-HTML export design spec
  docs/superpowers/specs/2026-07-16-usd-to-html-export-design.md
Labels: none

Revert "docs: add USD-to-HTML export design spec"
  docs/superpowers/specs/2026-07-16-usd-to-html-export-design.md
Labels: none

build: add usd-core to [usd] optional dependency
  pyproject.toml
Labels: maintenance

feat(usd): add export_usd_to_html utility
  .superpowers/sdd/progress.md
  .superpowers/sdd/task-1-brief.md
  .superpowers/sdd/task-1-report.md
  .superpowers/sdd/task-2-brief.md
  docs/superpowers/plans/2026-07-16-usd-to-html-export.md
  src/ansys/tools/visualization_interface/backends/usd/html_export.py
  tests/test_usd_html_export.py
Labels: testing

test(usd): add inject_mesh_lines unit tests and integration test file
  tests/test_usd_html_export.py
  tests/test_usd_html_export_integration.py
Labels: testing

feat(usd): expose export_usd_to_html at top level and update docs
  .superpowers/sdd/progress.md
  .superpowers/sdd/task-2-report.md
  .superpowers/sdd/task-2-review-pkg.diff
  .superpowers/sdd/task-3-brief.md
  .superpowers/sdd/task-3-report.md
  .superpowers/sdd/task-3-review-pkg.diff
  .superpowers/sdd/task-4-brief.md
  doc/source/user_guide/usdviewer.rst
  src/ansys/tools/visualization_interface/__init__.py
  src/ansys/tools/visualization_interface/backends/usd/__init__.py
  tests/test_usd_html_export.py
Labels: documentation, testing

fix(usd): validate line_color, fix type annotation, add usd deps to [all]
  doc/source/user_guide/usdviewer.rst
  pyproject.toml
  src/ansys/tools/visualization_interface/backends/usd/html_export.py
  tests/test_usd_html_export.py
  tests/test_usd_html_export_integration.py
Labels: documentation, maintenance, testing

fix(tests): guard integration tests against mock-pxr leak from unit tests
  tests/test_usd_html_export_integration.py
Labels: testing

docs(examples): add USD-to-HTML export gallery example
  examples/02-basic-usd-examples/usd_to_html_export.py
Labels: none

build: add usd-core and ansys-tools-usdviewer to doc optional deps
  pyproject.toml
Labels: maintenance

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'README.md']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'pyproject.toml', 'tox.ini', '.pre-commit-config.yaml']

testing:
- changed-files:
  - any-glob-to-any-file: ['tests/*']
