Repository ansys/ansys-tools-visualization-interface, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

fix: Example
  examples/01-basic-plotly-examples/plain-usage.py
Labels: none

fix: Magic number
  src/ansys/tools/visualization_interface/backends/plotly/plotly_interface.py
  src/ansys/tools/visualization_interface/backends/plotly/widgets/button_manager.py
Labels: none

feat(plotly): Add night mode button (#394)
  doc/changelog.d/394.miscellaneous.md
  src/ansys/tools/visualization_interface/backends/plotly/plotly_interface.py
  src/ansys/tools/visualization_interface/backends/plotly/widgets/button_manager.py
Labels: none

docs: Add support for plotly example rendering
  doc/source/conf.py
  doc/source/user_guide/migration.rst
  examples/01-basic-plotly-examples/plain-usage.py
  src/ansys/tools/visualization_interface/backends/plotly/plotly_interface.py
Labels: documentation

chore: adding changelog file 395.miscellaneous.md [dependabot-skip]
  doc/changelog.d/395.miscellaneous.md
Labels: none

fix: Doc message
  doc/source/user_guide/migration.rst
Labels: documentation

fix: Accepted words
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: none

fix: Bug
  src/ansys/tools/visualization_interface/backends/plotly/plotly_interface.py
Labels: none

docs: Add support for plotly example rendering (#395)
  doc/changelog.d/395.miscellaneous.md
  doc/source/conf.py
  doc/source/user_guide/migration.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
  examples/01-basic-plotly-examples/plain-usage.py
  src/ansys/tools/visualization_interface/backends/plotly/plotly_interface.py
Labels: documentation

fix: Button positioning when resizing
  src/ansys/tools/visualization_interface/backends/plotly/widgets/button_manager.py
Labels: none

fix: Overlapping buttons
  src/ansys/tools/visualization_interface/backends/plotly/plotly_interface.py
  src/ansys/tools/visualization_interface/backends/plotly/widgets/button_manager.py
Labels: none

chore: adding changelog file 397.miscellaneous.md [dependabot-skip]
  doc/changelog.d/397.miscellaneous.md
Labels: none

fix: Buttons overlapping on window resizing
  src/ansys/tools/visualization_interface/backends/plotly/plotly_interface.py
  src/ansys/tools/visualization_interface/backends/plotly/widgets/button_manager.py
Labels: none

chore: adding changelog file 398.miscellaneous.md [dependabot-skip]
  doc/changelog.d/398.miscellaneous.md
Labels: none

fix: Button positioning when resizing (#398)
  doc/changelog.d/398.miscellaneous.md
  src/ansys/tools/visualization_interface/backends/plotly/plotly_interface.py
  src/ansys/tools/visualization_interface/backends/plotly/widgets/button_manager.py
Labels: none

Bump version 1.0.0-alpha
  pyproject.toml
Labels: maintenance

chore: updating CHANGELOG for v1.0.0-alpha
  CHANGELOG.md
  doc/changelog.d/363.miscellaneous.md
  doc/changelog.d/370.miscellaneous.md
  doc/changelog.d/374.miscellaneous.md
  doc/changelog.d/376.miscellaneous.md
  doc/changelog.d/377.miscellaneous.md
  doc/changelog.d/378.maintenance.md
  doc/changelog.d/389.miscellaneous.md
  doc/changelog.d/390.miscellaneous.md
  doc/changelog.d/391.miscellaneous.md
  doc/changelog.d/392.miscellaneous.md
  doc/changelog.d/394.miscellaneous.md
  doc/changelog.d/395.miscellaneous.md
  doc/changelog.d/397.miscellaneous.md
  doc/changelog.d/398.miscellaneous.md
Labels: none

chore: updating CHANGELOG for v1.0.0-alpha
  CHANGELOG.md
  doc/changelog.d/363.miscellaneous.md
  doc/changelog.d/370.miscellaneous.md
  doc/changelog.d/374.miscellaneous.md
  doc/changelog.d/376.miscellaneous.md
  doc/changelog.d/377.miscellaneous.md
  doc/changelog.d/378.maintenance.md
  doc/changelog.d/389.miscellaneous.md
  doc/changelog.d/390.miscellaneous.md
  doc/changelog.d/391.miscellaneous.md
  doc/changelog.d/392.miscellaneous.md
  doc/changelog.d/394.miscellaneous.md
  doc/changelog.d/395.miscellaneous.md
  doc/changelog.d/397.miscellaneous.md
  doc/changelog.d/398.miscellaneous.md
Labels: none

chore: adding changelog file 399.miscellaneous.md [dependabot-skip]
  doc/changelog.d/399.miscellaneous.md
Labels: none

Bump version v0.1.0a0
  pyproject.toml
Labels: maintenance

chore: updating CHANGELOG for v1.0.0a0
  CHANGELOG.md
Labels: none

chore: updating CHANGELOG for v1.0.0a0
  CHANGELOG.md
Labels: none

chore: adding changelog file 400.miscellaneous.md [dependabot-skip]
  doc/changelog.d/400.miscellaneous.md
Labels: none

chore: adding changelog file 401.miscellaneous.md [dependabot-skip]
  doc/changelog.d/401.miscellaneous.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update README.txt
  examples/README.txt
Labels: none

chore: adding changelog file 403.miscellaneous.md [dependabot-skip]
  doc/changelog.d/403.miscellaneous.md
Labels: none

docs: Update README.txt (#403)
  doc/changelog.d/403.miscellaneous.md
  examples/README.txt
Labels: none

doc: Update backends in readme
  README.rst
Labels: none

Update README.rst
  README.rst
Labels: none

chore: adding changelog file 404.miscellaneous.md [dependabot-skip]
  doc/changelog.d/404.miscellaneous.md
Labels: none

doc: Update backends in readme (#404)
  README.rst
  doc/changelog.d/404.miscellaneous.md
Labels: none

feat: Add optional tree structure to MeshObjectPlot class
  examples/00-basic-pyvista-examples/tree_struct.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
  src/ansys/tools/visualization_interface/types/mesh_object_plot.py
  tests/test_meshobject.py
Labels: testing

chore: adding changelog file 405.miscellaneous.md [dependabot-skip]
  doc/changelog.d/405.miscellaneous.md
Labels: none

chore: update CHANGELOG for v1.0.0a0 (#400)
  CHANGELOG.md
  doc/changelog.d/400.miscellaneous.md
Labels: none

feat: Add optional tree structure to MeshObjectPlot class (#405)
  doc/changelog.d/405.miscellaneous.md
  examples/00-basic-pyvista-examples/tree_struct.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
  src/ansys/tools/visualization_interface/types/mesh_object_plot.py
  tests/test_meshobject.py
Labels: testing

fix: Example doc reference
  examples/00-basic-pyvista-examples/tree_struct.py
Labels: none

chore: adding changelog file 406.miscellaneous.md [dependabot-skip]
  doc/changelog.d/406.miscellaneous.md
Labels: none

fix: Example doc reference (#406)
  doc/changelog.d/406.miscellaneous.md
  examples/00-basic-pyvista-examples/tree_struct.py
Labels: none

feat(plotly): Link names to hover info
  examples/01-basic-plotly-examples/plain-usage.py
  src/ansys/tools/visualization_interface/backends/plotly/plotly_interface.py
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'README.md']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'pyproject.toml', 'tox.ini', '.pre-commit-config.yaml']

testing:
- changed-files:
  - any-glob-to-any-file: ['tests/*']
