Repository ansys/ansys-tools-visualization-interface, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

chore: adding changelog file 533.documentation.md [dependabot-skip]
  doc/changelog.d/533.documentation.md
Labels: none

chore: update CHANGELOG for v0.13.3 (#533)
  CHANGELOG.md
  doc/changelog.d/532.fixed.md
  doc/changelog.d/533.documentation.md
Labels: none

chore: adding changelog file 534.maintenance.md [dependabot-skip]
  doc/changelog.d/534.maintenance.md
Labels: none

chore: adding changelog file 535.dependencies.md [dependabot-skip]
  doc/changelog.d/535.dependencies.md
Labels: none

chore: adding changelog file 537.dependencies.md [dependabot-skip]
  doc/changelog.d/537.dependencies.md
Labels: none

chore: adding changelog file 538.dependencies.md [dependabot-skip]
  doc/changelog.d/538.dependencies.md
Labels: none

chore: adding changelog file 536.dependencies.md [dependabot-skip]
  doc/changelog.d/536.dependencies.md
Labels: none

chore: adding changelog file 539.maintenance.md [dependabot-skip]
  doc/changelog.d/539.maintenance.md
Labels: none

chore: adding changelog file 540.dependencies.md [dependabot-skip]
  doc/changelog.d/540.dependencies.md
Labels: none

chore: adding changelog file 541.dependencies.md [dependabot-skip]
  doc/changelog.d/541.dependencies.md
Labels: none

chore: adding changelog file 542.dependencies.md [dependabot-skip]
  doc/changelog.d/542.dependencies.md
Labels: none

chore: adding changelog file 543.maintenance.md [dependabot-skip]
  doc/changelog.d/543.maintenance.md
Labels: none

chore: adding changelog file 544.dependencies.md [dependabot-skip]
  doc/changelog.d/544.dependencies.md
Labels: none

chore: adding changelog file 547.dependencies.md [dependabot-skip]
  doc/changelog.d/547.dependencies.md
Labels: none

fix(pyvista): auto-detect Jupyter kernel to avoid blank trame renders
  pyproject.toml
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: maintenance

chore: adding changelog file 548.fixed.md [dependabot-skip]
  doc/changelog.d/548.fixed.md
Labels: none

update contributors
  CONTRIBUTORS.md
Labels: none

fix: Default to HTML jupyter backend
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: none

chore: update AUTHORS file
  AUTHORS
Labels: none

chore: update LICENSE file
  LICENSE
Labels: none

chore: adding changelog file 549.maintenance.md [dependabot-skip]
  doc/changelog.d/549.maintenance.md
  pyproject.toml
Labels: maintenance

Update accept.txt
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: none

fix: Temporarily exclude fluent example from building in the examples
  doc/source/conf.py
Labels: documentation

chore: adding changelog file 550.fixed.md [dependabot-skip]
  doc/changelog.d/550.fixed.md
Labels: none

fix: PyVista link issues
  doc/source/conf.py
Labels: documentation

chore: adding changelog file 551.dependencies.md [dependabot-skip]
  doc/changelog.d/551.dependencies.md
Labels: none

chore: adding changelog file 552.dependencies.md [dependabot-skip]
  doc/changelog.d/552.dependencies.md
Labels: none

fix: Exclude example in conf.py
  doc/source/conf.py
Labels: documentation

fix: Temporarily exclude fluent example from building in the examples (#550)
  doc/changelog.d/550.fixed.md
  doc/source/conf.py
Labels: documentation

chore: adding changelog file 546.dependencies.md [dependabot-skip]
  doc/changelog.d/546.dependencies.md
Labels: none

chore: adding changelog file 545.maintenance.md [dependabot-skip]
  doc/changelog.d/545.maintenance.md
Labels: none

chore: adding changelog file 545.test.md [dependabot-skip]
  doc/changelog.d/545.test.md
Labels: none

Update accept.txt
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: none

fix: Codespell
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: none

chore: adding changelog file 553.fixed.md [dependabot-skip]
  doc/changelog.d/553.fixed.md
Labels: none

fix: Codespell (#553)
  doc/changelog.d/553.fixed.md
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: none

chore: Update missing or outdated files (#549)
  AUTHORS
  LICENSE
  doc/changelog.d/549.maintenance.md
Labels: none

chore: adding changelog file 554.dependencies.md [dependabot-skip]
  doc/changelog.d/554.dependencies.md
Labels: none

chore: adding changelog file 556.dependencies.md [dependabot-skip]
  doc/changelog.d/556.dependencies.md
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'README.md']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'pyproject.toml', 'tox.ini', '.pre-commit-config.yaml']

testing:
- changed-files:
  - any-glob-to-any-file: ['tests/*']
