Repository ansys/ansys-tools-visualization-interface, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'README.md']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'pyproject.toml', 'tox.ini', '.pre-commit-config.yaml']

testing:
- changed-files:
  - any-glob-to-any-file: ['tests/*']

fix: doc-build
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/utils/helpers.py
Labels: none

feat: add tests, examples, and clear() docstrings
  examples/00-basic-pyvista-examples/customization_api.py
  examples/01-basic-plotly-examples/customization_api.py
  src/ansys/tools/visualization_interface/backends/_base.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/plotter.py
  tests/test_customization_api.py
Labels: testing

chore: adding changelog file 473.miscellaneous.md [dependabot-skip]
  doc/changelog.d/473.miscellaneous.md
Labels: none

fix: review suggestions
  doc/changelog.d/465.miscellaneous.md
  examples/00-basic-pyvista-examples/custom_picker.py
  examples/00-basic-pyvista-examples/customization_api.py
  examples/01-basic-plotly-examples/customization_api.py
  src/ansys/tools/visualization_interface/backends/_base.py
  src/ansys/tools/visualization_interface/backends/plotly/plotly_interface.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/plotter.py
  tests/test_customization_api.py
Labels: testing

fix: revert unintended edit
  examples/00-basic-pyvista-examples/custom_picker.py
Labels: none

fix: review suggestions
  examples/00-basic-pyvista-examples/customization_api.py
  examples/01-basic-plotly-examples/customization_api.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/utils/_helpers.py
Labels: none

fix: review suggestion
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/utils/_kwargs_manager.py
Labels: none

fix: review suggestions
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/utils/_kwargs_manager.py
Labels: none

feat: more customization APIs (#466)
  doc/changelog.d/466.miscellaneous.md
  examples/00-basic-pyvista-examples/customization_api.py
  examples/01-basic-plotly-examples/customization_api.py
  src/ansys/tools/visualization_interface/backends/_base.py
  src/ansys/tools/visualization_interface/backends/plotly/plotly_interface.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/plotter.py
  src/ansys/tools/visualization_interface/utils/_kwargs_manager.py
  tests/test_customization_api.py
Labels: testing

fix: labels visibility issue
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
Labels: none

chore: adding changelog file 474.miscellaneous.md [dependabot-skip]
  doc/changelog.d/474.miscellaneous.md
Labels: none

chore: adding changelog file 476.miscellaneous.md [dependabot-skip]
  doc/changelog.d/476.miscellaneous.md
Labels: none

chore: adding changelog file 475.miscellaneous.md [dependabot-skip]
  doc/changelog.d/475.miscellaneous.md
Labels: none

chore: adding changelog file 477.maintenance.md [dependabot-skip]
  doc/changelog.d/477.maintenance.md
Labels: none

fix: labels visibility issue (#474)
  doc/changelog.d/474.miscellaneous.md
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
Labels: none

chore: adding changelog file 478.miscellaneous.md [dependabot-skip]
  doc/changelog.d/478.miscellaneous.md
Labels: none

chore: adding changelog file 479.miscellaneous.md [dependabot-skip]
  doc/changelog.d/479.miscellaneous.md
Labels: none

feat: python 3.14 support
  .github/workflows/ci_cd.yml
  doc/source/conf.py
  pyproject.toml
  tox.ini
Labels: documentation, maintenance

chore: adding changelog file 480.added.md [dependabot-skip]
  doc/changelog.d/480.added.md
Labels: none

feat: python 3.14 support (#480)
  .github/workflows/ci_cd.yml
  doc/changelog.d/480.added.md
  doc/source/conf.py
  pyproject.toml
  tox.ini
Labels: documentation, maintenance

chore: adding changelog file 482.miscellaneous.md [dependabot-skip]
  doc/changelog.d/482.miscellaneous.md
Labels: none

chore: adding changelog file 483.miscellaneous.md [dependabot-skip]
  doc/changelog.d/483.miscellaneous.md
Labels: none

chore: adding changelog file 484.maintenance.md [dependabot-skip]
  doc/changelog.d/484.maintenance.md
Labels: none

chore: adding changelog file 485.miscellaneous.md [dependabot-skip]
  doc/changelog.d/485.miscellaneous.md
Labels: none

feat: Add USD viewer integration
  doc/source/index.rst
  doc/source/user_guide/usdviewer.rst
  examples/02-basic-usd-examples/README.txt
  examples/02-basic-usd-examples/plain_usage.py
  src/ansys/tools/visualization_interface/backends/usd/usd_interface.py
  tests/test_generic_plotter.py
  tests/test_usd_interface.py
Labels: documentation, testing

chore: adding changelog file 486.added.md [dependabot-skip]
  doc/changelog.d/486.added.md
Labels: none

fix: Example
  examples/02-basic-usd-examples/plain_usage.py
Labels: none

chore: adding changelog file 487.miscellaneous.md [dependabot-skip]
  doc/changelog.d/487.miscellaneous.md
Labels: none

chore: adding changelog file 488.dependencies.md [dependabot-skip]
  doc/changelog.d/488.dependencies.md
Labels: none

chore: adding changelog file 489.maintenance.md [dependabot-skip]
  doc/changelog.d/489.maintenance.md
Labels: none

fix: Add missing init
  src/ansys/tools/visualization_interface/backends/usd/__init__.py
Labels: none

fix: Mock pxr import
  tests/test_usd_interface.py
Labels: testing

fix: tests
  tests/test_usd_interface.py
Labels: testing

feat: Add name filtering for Plotly
  examples/01-basic-plotly-examples/name-filter.py
  src/ansys/tools/visualization_interface/backends/plotly/plotly_dash.py
  src/ansys/tools/visualization_interface/backends/plotly/plotly_interface.py
  src/ansys/tools/visualization_interface/plotter.py
  tests/test_plotly_backend.py
Labels: testing

chore: adding changelog file 490.added.md [dependabot-skip]
  doc/changelog.d/490.added.md
Labels: none

fix: Minor fixes, test simplification
  src/ansys/tools/visualization_interface/backends/plotly/plotly_dash.py
  src/ansys/tools/visualization_interface/backends/plotly/plotly_interface.py
  src/ansys/tools/visualization_interface/backends/usd/__init__.py
  tests/test_plotly_backend.py
Labels: testing

Apply suggestions from code review
  examples/01-basic-plotly-examples/name-filter.py
Labels: none

fix: Remove usd init
  src/ansys/tools/visualization_interface/backends/usd/__init__.py
Labels: none

fix: Add dataclass for plotting options
  src/ansys/tools/visualization_interface/backends/plotly/plotly_dash.py
  src/ansys/tools/visualization_interface/backends/plotly/plotly_interface.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
  src/ansys/tools/visualization_interface/plotter.py
  src/ansys/tools/visualization_interface/utils/plotting_options.py
  tests/test_plotting_options.py
Labels: testing

chore: adding changelog file 491.maintenance.md [dependabot-skip]
  doc/changelog.d/491.maintenance.md
Labels: none
