Repository ansys/ansys-tools-visualization-interface, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'README.md']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'pyproject.toml', 'tox.ini', '.pre-commit-config.yaml']

testing:
- changed-files:
  - any-glob-to-any-file: ['tests/*']

chore: updating CHANGELOG for v0.6.3
  CHANGELOG.md
  doc/changelog.d/223.added.md
Labels: none

chore: adding changelog file 224.maintenance.md [dependabot-skip]
  doc/changelog.d/224.maintenance.md
Labels: none

Bump version 0.6.3
  .github/workflows/ci_cd.yml
  CHANGELOG.md
  doc/changelog.d/223.added.md
Labels: maintenance

Bump version 0.7.0
  pyproject.toml
Labels: maintenance

chore: updating CHANGELOG for v0.7.0
  CHANGELOG.md
  doc/changelog.d/196.maintenance.md
  doc/changelog.d/197.dependencies.md
  doc/changelog.d/198.dependencies.md
  doc/changelog.d/199.dependencies.md
  doc/changelog.d/200.dependencies.md
  doc/changelog.d/201.maintenance.md
  doc/changelog.d/203.dependencies.md
  doc/changelog.d/204.dependencies.md
  doc/changelog.d/205.maintenance.md
  doc/changelog.d/207.fixed.md
  doc/changelog.d/210.maintenance.md
  doc/changelog.d/211.maintenance.md
  doc/changelog.d/212.fixed.md
  doc/changelog.d/213.fixed.md
  doc/changelog.d/214.dependencies.md
  doc/changelog.d/215.maintenance.md
  doc/changelog.d/218.maintenance.md
  doc/changelog.d/219.dependencies.md
  doc/changelog.d/221.test.md
  doc/changelog.d/222.dependencies.md
  doc/changelog.d/223.added.md
Labels: none

chore: updating CHANGELOG for v0.7.0
  CHANGELOG.md
  doc/changelog.d/196.maintenance.md
  doc/changelog.d/197.dependencies.md
  doc/changelog.d/198.dependencies.md
  doc/changelog.d/199.dependencies.md
  doc/changelog.d/200.dependencies.md
  doc/changelog.d/201.maintenance.md
  doc/changelog.d/203.dependencies.md
  doc/changelog.d/204.dependencies.md
  doc/changelog.d/205.maintenance.md
  doc/changelog.d/207.fixed.md
  doc/changelog.d/210.maintenance.md
  doc/changelog.d/211.maintenance.md
  doc/changelog.d/212.fixed.md
  doc/changelog.d/213.fixed.md
  doc/changelog.d/214.dependencies.md
  doc/changelog.d/215.maintenance.md
  doc/changelog.d/218.maintenance.md
  doc/changelog.d/219.dependencies.md
  doc/changelog.d/221.test.md
  doc/changelog.d/222.dependencies.md
  doc/changelog.d/223.added.md
Labels: none

chore: adding changelog file 225.maintenance.md [dependabot-skip]
  doc/changelog.d/225.maintenance.md
Labels: none

chore: update CHANGELOG for v0.7.0 (#225)
  CHANGELOG.md
  doc/changelog.d/196.maintenance.md
  doc/changelog.d/197.dependencies.md
  doc/changelog.d/198.dependencies.md
  doc/changelog.d/199.dependencies.md
  doc/changelog.d/200.dependencies.md
  doc/changelog.d/201.maintenance.md
  doc/changelog.d/203.dependencies.md
  doc/changelog.d/204.dependencies.md
  doc/changelog.d/205.maintenance.md
  doc/changelog.d/207.fixed.md
  doc/changelog.d/210.maintenance.md
  doc/changelog.d/211.maintenance.md
  doc/changelog.d/212.fixed.md
  doc/changelog.d/213.fixed.md
  doc/changelog.d/214.dependencies.md
  doc/changelog.d/215.maintenance.md
  doc/changelog.d/218.maintenance.md
  doc/changelog.d/219.dependencies.md
  doc/changelog.d/221.test.md
  doc/changelog.d/222.dependencies.md
  doc/changelog.d/223.added.md
  doc/changelog.d/225.maintenance.md
Labels: none

chore: adding changelog file 226.dependencies.md [dependabot-skip]
  doc/changelog.d/226.dependencies.md
Labels: none

chore: adding changelog file 227.test.md [dependabot-skip]
  doc/changelog.d/227.test.md
Labels: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Labels: maintenance

feat: Add inverted buttons
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/+xy_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/+xz_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/+yz_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/-xy_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/-xz_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/-yz_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/designpoint.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/downarrow_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/isometric_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/measurement_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/planecut_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/ruler_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/screenshot_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/upxarrow_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/upyarrow_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/upzarrow_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/visibilityoff_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/visibilityon_inv.png
Labels: none

feat: Add dark mode
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/button.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/displace_arrows.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/hide_buttons.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/measure.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/mesh_slider.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/ruler.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/screenshot.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/view_button.py
Labels: none

feat: Add threshold for auto selection
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/button.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/displace_arrows.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/hide_buttons.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/measure.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/mesh_slider.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/ruler.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/screenshot.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/view_button.py
Labels: none

chore: adding changelog file 228.added.md [dependabot-skip]
  doc/changelog.d/228.added.md
Labels: none

feat: Add darkmode to ruler
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/ruler.py
Labels: none

fix: Inline color selection and f-string
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/button.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/hide_buttons.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/measure.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/mesh_slider.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/ruler.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/screenshot.py
Labels: none

feat: Add dark mode when background is dark (#228)
  doc/changelog.d/228.added.md
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/+xy_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/+xz_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/+yz_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/-xy_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/-xz_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/-yz_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/designpoint.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/downarrow_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/isometric_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/measurement_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/planecut_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/ruler_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/screenshot_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/upxarrow_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/upyarrow_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/upzarrow_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/visibilityoff_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/visibilityon_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/button.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/displace_arrows.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/hide_buttons.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/measure.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/mesh_slider.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/ruler.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/screenshot.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/view_button.py
Labels: none

test: Add tests for dark mode
  pyproject.toml
  tests/test_generic_plotter.py
Labels: maintenance, testing

chore: adding changelog file 229.test.md [dependabot-skip]
  doc/changelog.d/229.test.md
Labels: none

Update tests/test_generic_plotter.py
  tests/test_generic_plotter.py
Labels: testing

test: Add tests for dark mode (#229)
  doc/changelog.d/229.test.md
  pyproject.toml
  tests/test_generic_plotter.py
Labels: maintenance, testing

Bump version 0.8.0
  pyproject.toml
Labels: maintenance

chore: updating CHANGELOG for v0.8.0
  CHANGELOG.md
  doc/changelog.d/225.maintenance.md
  doc/changelog.d/226.dependencies.md
  doc/changelog.d/227.test.md
  doc/changelog.d/228.added.md
Labels: none

chore: updating CHANGELOG for v0.8.0
  CHANGELOG.md
  doc/changelog.d/225.maintenance.md
  doc/changelog.d/226.dependencies.md
  doc/changelog.d/227.test.md
  doc/changelog.d/228.added.md
Labels: none

chore: adding changelog file 230.maintenance.md [dependabot-skip]
  doc/changelog.d/230.maintenance.md
Labels: none

chore: update CHANGELOG for v0.8.0 (#230)
  CHANGELOG.md
  doc/changelog.d/225.maintenance.md
  doc/changelog.d/226.dependencies.md
  doc/changelog.d/227.test.md
  doc/changelog.d/228.added.md
  doc/changelog.d/230.maintenance.md
Labels: none

fix: Revert some bad changes from 4f183e777d202d1b0ee7e2f70da39054a084b1d3
  examples/00-basic-pyvista-examples/remote_trame_view.py
  examples/01-advanced-pyansys-examples/using_meshobject_with_field_data.py
  src/ansys/tools/visualization_interface/utils/color.py
  src/ansys/tools/visualization_interface/utils/logger.py
Labels: none

chore: adding changelog file 231.fixed.md [dependabot-skip]
  doc/changelog.d/231.fixed.md
Labels: none

chore: adding changelog file 231.fixed.md [dependabot-skip]
  doc/changelog.d/231.fixed.md
Labels: none

fix: Revert some bad changes from pre-commit (#231)
  doc/changelog.d/231.fixed.md
  examples/00-basic-pyvista-examples/remote_trame_view.py
  examples/01-advanced-pyansys-examples/using_meshobject_with_field_data.py
  src/ansys/tools/visualization_interface/utils/color.py
  src/ansys/tools/visualization_interface/utils/logger.py
Labels: none

Bump version 0.8.1
  doc/changelog.d/231.fixed.md
  examples/00-basic-pyvista-examples/remote_trame_view.py
  examples/01-advanced-pyansys-examples/using_meshobject_with_field_data.py
  pyproject.toml
  src/ansys/tools/visualization_interface/utils/color.py
  src/ansys/tools/visualization_interface/utils/logger.py
Labels: maintenance

chore: updating CHANGELOG for v0.8.1
  CHANGELOG.md
  doc/changelog.d/231.fixed.md
Labels: none

chore: updating CHANGELOG for v0.8.1
  CHANGELOG.md
  doc/changelog.d/231.fixed.md
Labels: none

chore: adding changelog file 232.maintenance.md [dependabot-skip]
  doc/changelog.d/232.maintenance.md
Labels: none

chore: update CHANGELOG for v0.8.1 (#232)
  CHANGELOG.md
  doc/changelog.d/231.fixed.md
  doc/changelog.d/232.maintenance.md
Labels: none

fix: issues on changelog formats
  pyproject.toml
Labels: maintenance

chore: adding changelog file 233.fixed.md [dependabot-skip]
  doc/changelog.d/233.fixed.md
Labels: none

fix: changelog links
  CHANGELOG.md
Labels: none

docs: add document title and brief description
  CHANGELOG.md
Labels: none
