Repository ansys/ansys-tools-visualization-interface, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

fix: potential bug related to widgets in `PyVistaBackendInterface` class
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
Labels: none

chore: adding changelog file 433.miscellaneous.md [dependabot-skip]
  doc/changelog.d/433.miscellaneous.md
Labels: none

fix: potential bug related to widgets in `PyVistaBackendInterface` class (#433)
  doc/changelog.d/433.miscellaneous.md
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
Labels: none

Update CONTRIBUTORS.md with the latest contributors
  CONTRIBUTORS.md
Labels: none

chore: adding changelog file 434.miscellaneous.md [dependabot-skip]
  doc/changelog.d/434.miscellaneous.md
Labels: none

chore: adding changelog file 435.maintenance.md [dependabot-skip]
  doc/changelog.d/435.maintenance.md
Labels: none

chore: adding changelog file 438.miscellaneous.md [dependabot-skip]
  doc/changelog.d/438.miscellaneous.md
Labels: none

chore: adding changelog file 436.miscellaneous.md [dependabot-skip]
  doc/changelog.d/436.miscellaneous.md
Labels: none

chore: adding changelog file 440.maintenance.md [dependabot-skip]
  doc/changelog.d/440.maintenance.md
Labels: none

chore: adding changelog file 441.maintenance.md [dependabot-skip]
  doc/changelog.d/441.maintenance.md
Labels: none

chore: adding changelog file 439.maintenance.md [dependabot-skip]
  doc/changelog.d/439.maintenance.md
Labels: none

chore: adding changelog file 437.maintenance.md [dependabot-skip]
  doc/changelog.d/437.maintenance.md
Labels: none

fix: Zizmor
  .github/dependabot.yml
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
Labels: maintenance

fix: Cooldown
  .github/dependabot.yml
Labels: maintenance

fix: Cooldown
  .github/dependabot.yml
Labels: maintenance

docs: Update ``CONTRIBUTORS.md`` with the latest contributors (#434)
  CONTRIBUTORS.md
  doc/changelog.d/434.miscellaneous.md
Labels: none

chore: adding changelog file 443.miscellaneous.md [dependabot-skip]
  doc/changelog.d/443.miscellaneous.md
Labels: none

chore: adding changelog file 444.miscellaneous.md [dependabot-skip]
  doc/changelog.d/444.miscellaneous.md
Labels: none

chore: adding changelog file 445.miscellaneous.md [dependabot-skip]
  doc/changelog.d/445.miscellaneous.md
Labels: none

fix: logic for converting pyvista volumetric meshes to plotly mesh3d
  src/ansys/tools/visualization_interface/backends/plotly/plotly_interface.py
Labels: none

chore: adding changelog file 446.miscellaneous.md [dependabot-skip]
  doc/changelog.d/446.miscellaneous.md
Labels: none

fix: remove changes unrelated to current PR
  src/ansys/tools/visualization_interface/backends/plotly/plotly_interface.py
Labels: none

Apply suggestions from code review
  src/ansys/tools/visualization_interface/backends/plotly/plotly_interface.py
Labels: none

fix: type hint issue
  src/ansys/tools/visualization_interface/backends/plotly/plotly_interface.py
Labels: none

fix: pre-commit
  src/ansys/tools/visualization_interface/backends/plotly/plotly_interface.py
Labels: none

chore: adding changelog file 447.miscellaneous.md [dependabot-skip]
  doc/changelog.d/447.miscellaneous.md
Labels: none

fix: logic for converting pyvista volumetric meshes to plotly mesh3d (#446)
  doc/changelog.d/446.miscellaneous.md
  src/ansys/tools/visualization_interface/backends/plotly/plotly_interface.py
Labels: none

test: add plotly tests for volumetric meshes
  tests/test_plotly_backend.py
  tox.ini
Labels: maintenance, testing

chore: adding changelog file 449.miscellaneous.md [dependabot-skip]
  doc/changelog.d/449.miscellaneous.md
Labels: none

test: add plotly tests for volumetric meshes (#449)
  doc/changelog.d/449.miscellaneous.md
  tests/test_plotly_backend.py
  tox.ini
Labels: maintenance, testing

feat: process and plot contour over a mesh during pv to mesh3d conversion
  src/ansys/tools/visualization_interface/backends/plotly/plotly_interface.py
Labels: none

chore: adding changelog file 450.miscellaneous.md [dependabot-skip]
  doc/changelog.d/450.miscellaneous.md
Labels: none

feat: process and plot contour over a mesh during pv to mesh3d conversion (#450)
  doc/changelog.d/450.miscellaneous.md
  src/ansys/tools/visualization_interface/backends/plotly/plotly_interface.py
Labels: none

chore: adding changelog file 451.miscellaneous.md [dependabot-skip]
  doc/changelog.d/451.miscellaneous.md
Labels: none

chore: adding changelog file 454.miscellaneous.md [dependabot-skip]
  doc/changelog.d/454.miscellaneous.md
Labels: none

fix: Fluent dependency
  pyproject.toml
Labels: maintenance

fix: Fluent dep
  pyproject.toml
Labels: maintenance

fix: Fluent dep
  pyproject.toml
Labels: maintenance

feat: Tree show/hide
  .gitignore
  LICENSE
  examples/00-basic-pyvista-examples/toggle_subtree_separated.py
  src/ansys/tools/visualization_interface/backends/pyvista/picker.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/__init__.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/hide_children.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/toggle_subtree.py
  src/ansys/tools/visualization_interface/types/mesh_object_plot.py
  tests/test_tree_visibility.py
Labels: testing

chore: adding changelog file 455.miscellaneous.md [dependabot-skip]
  doc/changelog.d/455.miscellaneous.md
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'README.md']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'pyproject.toml', 'tox.ini', '.pre-commit-config.yaml']

testing:
- changed-files:
  - any-glob-to-any-file: ['tests/*']
