Repository ansys/ansys-tools-visualization-interface, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

maint: Add missing input token to release CI (#279)
  .github/workflows/ci_cd.yml
  doc/changelog.d/279.maintenance.md
Labels: maintenance

chore: adding changelog file 301.miscellaneous.md [dependabot-skip]
  doc/changelog.d/301.dependencies.md
  doc/changelog.d/301.miscellaneous.md
Labels: none

chore: adding changelog file 302.miscellaneous.md [dependabot-skip]
  doc/changelog.d/302.dependencies.md
  doc/changelog.d/302.miscellaneous.md
Labels: none

chore: adding changelog file 304.miscellaneous.md [dependabot-skip]
  doc/changelog.d/304.miscellaneous.md
Labels: none

chore: adding changelog file 305.miscellaneous.md [dependabot-skip]
  doc/changelog.d/305.miscellaneous.md
Labels: none

feat: Improve optional arguments in `show`
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  tests/test_generic_plotter.py
Labels: testing

chore: adding changelog file 306.miscellaneous.md [dependabot-skip]
  doc/changelog.d/306.miscellaneous.md
Labels: none

fix: Simplify code
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
Labels: none

Update src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
Labels: none

fix: Default
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
Labels: none

feat: Improve optional arguments in `show` (#306)
  doc/changelog.d/306.miscellaneous.md
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  tests/test_generic_plotter.py
Labels: testing

Bump version 0.10.0
  pyproject.toml
Labels: maintenance

chore: updating CHANGELOG for v0.10.0
  CHANGELOG.md
  doc/changelog.d/278.maintenance.md
  doc/changelog.d/279.maintenance.md
  doc/changelog.d/280.dependencies.md
  doc/changelog.d/282.maintenance.md
  doc/changelog.d/283.maintenance.md
  doc/changelog.d/284.dependencies.md
  doc/changelog.d/285.dependencies.md
  doc/changelog.d/286.dependencies.md
  doc/changelog.d/287.maintenance.md
  doc/changelog.d/288.documentation.md
  doc/changelog.d/289.dependencies.md
  doc/changelog.d/290.maintenance.md
  doc/changelog.d/292.dependencies.md
  doc/changelog.d/293.maintenance.md
  doc/changelog.d/294.dependencies.md
  doc/changelog.d/295.maintenance.md
  doc/changelog.d/296.maintenance.md
  doc/changelog.d/297.dependencies.md
  doc/changelog.d/298.maintenance.md
  doc/changelog.d/300.maintenance.md
  doc/changelog.d/301.miscellaneous.md
  doc/changelog.d/302.miscellaneous.md
  doc/changelog.d/303.miscellaneous.md
  doc/changelog.d/304.miscellaneous.md
  doc/changelog.d/305.miscellaneous.md
  doc/changelog.d/306.miscellaneous.md
Labels: none

chore: updating CHANGELOG for v0.10.0
  CHANGELOG.md
  doc/changelog.d/278.maintenance.md
  doc/changelog.d/279.maintenance.md
  doc/changelog.d/280.dependencies.md
  doc/changelog.d/282.maintenance.md
  doc/changelog.d/283.maintenance.md
  doc/changelog.d/284.dependencies.md
  doc/changelog.d/285.dependencies.md
  doc/changelog.d/286.dependencies.md
  doc/changelog.d/287.maintenance.md
  doc/changelog.d/288.documentation.md
  doc/changelog.d/289.dependencies.md
  doc/changelog.d/290.maintenance.md
  doc/changelog.d/292.dependencies.md
  doc/changelog.d/293.maintenance.md
  doc/changelog.d/294.dependencies.md
  doc/changelog.d/295.maintenance.md
  doc/changelog.d/296.maintenance.md
  doc/changelog.d/297.dependencies.md
  doc/changelog.d/298.maintenance.md
  doc/changelog.d/300.maintenance.md
  doc/changelog.d/301.miscellaneous.md
  doc/changelog.d/302.miscellaneous.md
  doc/changelog.d/303.miscellaneous.md
  doc/changelog.d/304.miscellaneous.md
  doc/changelog.d/305.miscellaneous.md
  doc/changelog.d/306.miscellaneous.md
Labels: none

chore: adding changelog file 307.miscellaneous.md [dependabot-skip]
  doc/changelog.d/307.miscellaneous.md
Labels: none

chore: update CHANGELOG for v0.10.0 (#307)
  CHANGELOG.md
  doc/changelog.d/278.maintenance.md
  doc/changelog.d/279.maintenance.md
  doc/changelog.d/280.dependencies.md
  doc/changelog.d/282.maintenance.md
  doc/changelog.d/283.maintenance.md
  doc/changelog.d/284.dependencies.md
  doc/changelog.d/285.dependencies.md
  doc/changelog.d/286.dependencies.md
  doc/changelog.d/287.maintenance.md
  doc/changelog.d/288.documentation.md
  doc/changelog.d/289.dependencies.md
  doc/changelog.d/290.maintenance.md
  doc/changelog.d/292.dependencies.md
  doc/changelog.d/293.maintenance.md
  doc/changelog.d/294.dependencies.md
  doc/changelog.d/295.maintenance.md
  doc/changelog.d/296.maintenance.md
  doc/changelog.d/297.dependencies.md
  doc/changelog.d/298.maintenance.md
  doc/changelog.d/300.maintenance.md
  doc/changelog.d/301.miscellaneous.md
  doc/changelog.d/302.miscellaneous.md
  doc/changelog.d/303.miscellaneous.md
  doc/changelog.d/304.miscellaneous.md
  doc/changelog.d/305.miscellaneous.md
  doc/changelog.d/306.miscellaneous.md
  doc/changelog.d/307.miscellaneous.md
Labels: none

chore: adding changelog file 308.miscellaneous.md [dependabot-skip]
  doc/changelog.d/308.miscellaneous.md
Labels: none

chore: adding changelog file 309.miscellaneous.md [dependabot-skip]
  doc/changelog.d/309.miscellaneous.md
Labels: none

chore: adding changelog file 310.miscellaneous.md [dependabot-skip]
  doc/changelog.d/310.miscellaneous.md
Labels: none

fix: Improve kwargs processing in `show`
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
  tests/test_generic_plotter.py
Labels: testing

chore: adding changelog file 312.miscellaneous.md [dependabot-skip]
  doc/changelog.d/312.miscellaneous.md
Labels: none

fix: Callable import
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
Labels: none

fix: rename kwargs
  src/ansys/tools/visualization_interface/plotter.py
Labels: none

Update src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: none

Apply suggestions from code review
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
Labels: none

fix: Improve kwargs processing in `show` (#312)
  doc/changelog.d/312.miscellaneous.md
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
  src/ansys/tools/visualization_interface/plotter.py
  tests/test_generic_plotter.py
Labels: testing

chore: adding changelog file 314.miscellaneous.md [dependabot-skip]
  doc/changelog.d/314.miscellaneous.md
Labels: none

chore: adding changelog file 315.miscellaneous.md [dependabot-skip]
  doc/changelog.d/315.miscellaneous.md
Labels: none

maint: Add SECURITY.md file
  SECURITY.md
Labels: none

chore: adding changelog file 316.miscellaneous.md [dependabot-skip]
  doc/changelog.d/316.miscellaneous.md
Labels: none

maint: Add SECURITY.md file (#316)
  SECURITY.md
  doc/changelog.d/316.miscellaneous.md
Labels: none

chore: adding changelog file 315.miscellaneous.md [dependabot-skip]
  doc/changelog.d/315.miscellaneous.md
Labels: none

chore: adding changelog file 317.miscellaneous.md [dependabot-skip]
  doc/changelog.d/317.miscellaneous.md
Labels: none

fix: nbsphinx dep
  .github/dependabot.yml
  pyproject.toml
Labels: maintenance

bump version 0.11.0
  pyproject.toml
Labels: maintenance

chore: updating CHANGELOG for v0.11.0
  CHANGELOG.md
  doc/changelog.d/307.miscellaneous.md
  doc/changelog.d/308.miscellaneous.md
  doc/changelog.d/309.miscellaneous.md
  doc/changelog.d/310.miscellaneous.md
  doc/changelog.d/312.miscellaneous.md
  doc/changelog.d/314.miscellaneous.md
  doc/changelog.d/315.miscellaneous.md
  doc/changelog.d/316.miscellaneous.md
  doc/changelog.d/317.miscellaneous.md
Labels: none

chore: updating CHANGELOG for v0.11.0
  CHANGELOG.md
  doc/changelog.d/307.miscellaneous.md
  doc/changelog.d/308.miscellaneous.md
  doc/changelog.d/309.miscellaneous.md
  doc/changelog.d/310.miscellaneous.md
  doc/changelog.d/312.miscellaneous.md
  doc/changelog.d/314.miscellaneous.md
  doc/changelog.d/315.miscellaneous.md
  doc/changelog.d/316.miscellaneous.md
  doc/changelog.d/317.miscellaneous.md
Labels: none

chore: adding changelog file 318.miscellaneous.md [dependabot-skip]
  doc/changelog.d/318.miscellaneous.md
Labels: none

chore: adding changelog file 319.miscellaneous.md [dependabot-skip]
  doc/changelog.d/319.miscellaneous.md
Labels: none

chore: update CHANGELOG for v0.11.0 (#318)
  CHANGELOG.md
  doc/changelog.d/307.miscellaneous.md
  doc/changelog.d/308.miscellaneous.md
  doc/changelog.d/309.miscellaneous.md
  doc/changelog.d/310.miscellaneous.md
  doc/changelog.d/312.miscellaneous.md
  doc/changelog.d/314.miscellaneous.md
  doc/changelog.d/315.miscellaneous.md
  doc/changelog.d/316.miscellaneous.md
  doc/changelog.d/317.miscellaneous.md
  doc/changelog.d/318.miscellaneous.md
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'README.md']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'pyproject.toml', 'tox.ini', '.pre-commit-config.yaml']

testing:
- changed-files:
  - any-glob-to-any-file: ['tests/*']
