Repository ansys/ansys-tools-visualization-interface, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'README.md']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'pyproject.toml', 'tox.ini', '.pre-commit-config.yaml']

testing:
- changed-files:
  - any-glob-to-any-file: ['tests/*']

chore: adding changelog file 469.miscellaneous.md [dependabot-skip]
  doc/changelog.d/469.miscellaneous.md
Labels: none

chore: adding changelog file 470.miscellaneous.md [dependabot-skip]
  doc/changelog.d/470.miscellaneous.md
Labels: none

Update pyproject.toml
  pyproject.toml
Labels: maintenance

fix: Avoid using 3DText
  examples/00-basic-pyvista-examples/customization_api.py
  examples/01-basic-plotly-examples/customization_api.py
  src/ansys/tools/visualization_interface/backends/plotly/plotly_interface.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/plotter.py
  tests/test_customization_api.py
Labels: testing

fix: Fixes and reset image cache
  .github/workflows/ci_cd.yml
  tests/test_generic_plotter.py
Labels: maintenance, testing

chore: adding changelog file 465.maintenance.md [dependabot-skip]
  doc/changelog.d/465.maintenance.md
Labels: none

fix: add text
  examples/00-basic-pyvista-examples/customization_api.py
Labels: none

fix: Revert
  tests/test_generic_plotter.py
Labels: testing

debug
  examples/00-basic-pyvista-examples/customization_api.py
Labels: none

debug
  examples/00-basic-pyvista-examples/customization_api.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: none

debug
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: none

debug
  examples/00-basic-pyvista-examples/customization_api.py
Labels: none

debug: Remove doc dep, comment example except show
  .github/workflows/ci_cd.yml
  examples/00-basic-pyvista-examples/customization_api.py
Labels: maintenance

debug: remove example
  examples/00-basic-pyvista-examples/customization_api.py
Labels: none

fix: Example
  examples/00-basic-pyvista-examples/customization_api.py
Labels: none

fix: Improve example
  examples/00-basic-pyvista-examples/customization_api.py
Labels: none

fix: Example
  examples/00-basic-pyvista-examples/customization_api.py
Labels: none

Update ci_cd.yml
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: Example titles
  examples/01-basic-plotly-examples/customization_api.py
Labels: none

fix: limit `trame-vtk` version
  pyproject.toml
Labels: maintenance

chore: adding changelog file 471.miscellaneous.md [dependabot-skip]
  doc/changelog.d/471.miscellaneous.md
Labels: none

fix: limit `trame-vtk` version (#471)
  doc/changelog.d/471.miscellaneous.md
  pyproject.toml
Labels: maintenance

fix: Add sections
  doc/source/conf.py
  examples/00-basic-pyvista-examples/animation.py
  examples/00-basic-pyvista-examples/customization_api.py
Labels: documentation

chore: adding changelog file 465.added.md [dependabot-skip]
  doc/changelog.d/465.added.md
Labels: none

fix: Typehints
  src/ansys/tools/visualization_interface/backends/plotly/plotly_interface.py
Labels: none

fix: Homogenize examples
  examples/00-basic-pyvista-examples/customization_api.py
  examples/01-basic-plotly-examples/customization_api.py
Labels: none

fix: Remove unneeded check
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: none

fix: Feedback
  doc/source/conf.py
  examples/01-basic-plotly-examples/customization_api.py
Labels: documentation

chore: adding changelog file 465.maintenance.md [dependabot-skip]
  doc/changelog.d/465.maintenance.md
Labels: none

feat: Add customization APIs (#465)
  .github/workflows/ci_cd.yml
  doc/changelog.d/465.maintenance.md
  examples/00-basic-pyvista-examples/README.txt
  examples/00-basic-pyvista-examples/animation.py
  examples/00-basic-pyvista-examples/customization_api.py
  examples/01-basic-plotly-examples/customization_api.py
  src/ansys/tools/visualization_interface/backends/_base.py
  src/ansys/tools/visualization_interface/backends/plotly/plotly_interface.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
  src/ansys/tools/visualization_interface/plotter.py
  tests/test_customization_api.py
Labels: maintenance, testing

chore: adding changelog file 465.miscellaneous.md [dependabot-skip]
  doc/changelog.d/465.miscellaneous.md
Labels: none

feat: add more customization apis
  src/ansys/tools/visualization_interface/backends/_base.py
  src/ansys/tools/visualization_interface/backends/plotly/plotly_interface.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/plotter.py
Labels: none

checkpoint
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: none

chore: adding changelog file 466.miscellaneous.md [dependabot-skip]
  doc/changelog.d/466.miscellaneous.md
Labels: none

checkpoint
  src/ansys/tools/visualization_interface/backends/_base.py
  src/ansys/tools/visualization_interface/backends/plotly/plotly_interface.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
  src/ansys/tools/visualization_interface/plotter.py
  src/ansys/tools/visualization_interface/utils/helpers.py
Labels: none

fix: remove render points as spheres
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
Labels: none

wip
  src/ansys/tools/visualization_interface/backends/plotly/plotly_interface.py
Labels: none

checkpoint
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: none

chore: sync with main
  src/ansys/tools/visualization_interface/backends/plotly/plotly_interface.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/plotter.py
Labels: none

chore: sync with main
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
Labels: none
