Repository ansys/ansys-tools-visualization-interface, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

chore: adding changelog file 407.miscellaneous.md [dependabot-skip]
  doc/changelog.d/407.miscellaneous.md
Labels: none

Apply suggestions from code review
  src/ansys/tools/visualization_interface/backends/plotly/plotly_interface.py
Labels: none

feat(plotly): Link names to hover info (#407)
  doc/changelog.d/407.miscellaneous.md
  examples/01-basic-plotly-examples/plain-usage.py
  src/ansys/tools/visualization_interface/backends/plotly/plotly_interface.py
Labels: none

chore: adding changelog file 408.maintenance.md [dependabot-skip]
  doc/changelog.d/408.maintenance.md
Labels: none

chore: adding changelog file 409.maintenance.md [dependabot-skip]
  doc/changelog.d/409.maintenance.md
Labels: none

feat(plotly): Add plotly dash as backend
  src/ansys/tools/visualization_interface/backends/plotly/plotly_dash.py
Labels: none

chore: adding changelog file 411.miscellaneous.md [dependabot-skip]
  doc/changelog.d/411.miscellaneous.md
Labels: none

fix: Show method
  src/ansys/tools/visualization_interface/backends/plotly/plotly_dash.py
Labels: none

chore: adding changelog file 412.miscellaneous.md [dependabot-skip]
  doc/changelog.d/412.miscellaneous.md
Labels: none

feat: Add mesh hiding dropdown
  examples/01-basic-plotly-examples/dash-usage.py
  src/ansys/tools/visualization_interface/backends/plotly/plotly_dash.py
  src/ansys/tools/visualization_interface/backends/plotly/widgets/dropdown_manager.py
Labels: none

fix: Update dependencies
  pyproject.toml
Labels: maintenance

feat(plotly): Add plotly dash as backend (#411)
  doc/changelog.d/411.miscellaneous.md
  examples/01-basic-plotly-examples/dash-usage.py
  pyproject.toml
  src/ansys/tools/visualization_interface/backends/plotly/plotly_dash.py
  src/ansys/tools/visualization_interface/backends/plotly/widgets/dropdown_manager.py
Labels: maintenance

chore: adding changelog file 413.maintenance.md [dependabot-skip]
  doc/changelog.d/413.maintenance.md
Labels: none

chore: adding changelog file 414.miscellaneous.md [dependabot-skip]
  doc/changelog.d/414.miscellaneous.md
Labels: none

chore: adding changelog file 415.miscellaneous.md [dependabot-skip]
  doc/changelog.d/415.miscellaneous.md
Labels: none

chore: adding changelog file 416.miscellaneous.md [dependabot-skip]
  doc/changelog.d/416.miscellaneous.md
Labels: none

chore: adding changelog file 417.miscellaneous.md [dependabot-skip]
  doc/changelog.d/417.miscellaneous.md
Labels: none

chore: adding changelog file 418.miscellaneous.md [dependabot-skip]
  doc/changelog.d/418.miscellaneous.md
Labels: none

feat: Add VTKHDF files management
  src/ansys/tools/visualization_interface/utils/vtkhdf_converter.py
  tests/test_vtkhdf_converter.py
Labels: testing

chore: adding changelog file 419.miscellaneous.md [dependabot-skip]
  doc/changelog.d/419.miscellaneous.md
Labels: none

fix: Add support for Path, return paths
  src/ansys/tools/visualization_interface/utils/vtkhdf_converter.py
  tests/test_vtkhdf_converter.py
Labels: testing

feat: Add VTKHDF files management (#419)
  doc/changelog.d/419.miscellaneous.md
  src/ansys/tools/visualization_interface/utils/vtkhdf_converter.py
  tests/test_vtkhdf_converter.py
Labels: testing

chore: adding changelog file 420.miscellaneous.md [dependabot-skip]
  doc/changelog.d/420.miscellaneous.md
Labels: none

chore: adding changelog file 422.maintenance.md [dependabot-skip]
  doc/changelog.d/422.maintenance.md
Labels: none

chore: adding changelog file 421.miscellaneous.md [dependabot-skip]
  doc/changelog.d/421.miscellaneous.md
Labels: none

chore: adding changelog file 423.miscellaneous.md [dependabot-skip]
  doc/changelog.d/423.miscellaneous.md
Labels: none

chore: adding changelog file 424.miscellaneous.md [dependabot-skip]
  doc/changelog.d/424.miscellaneous.md
Labels: none

chore: update CODE_OF_CONDUCT.md file
  CODE_OF_CONDUCT.md
Labels: none

chore: update CONTRIBUTING.md file
  CONTRIBUTING.md
Labels: none

chore: adding changelog file 425.miscellaneous.md [dependabot-skip]
  doc/changelog.d/425.miscellaneous.md
Labels: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

Apply suggestions from code review
  CONTRIBUTING.md
Labels: none

chore: Update missing or outdated files (#425)
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  doc/changelog.d/425.miscellaneous.md
Labels: none

chore: adding changelog file 426.miscellaneous.md [dependabot-skip]
  doc/changelog.d/426.miscellaneous.md
Labels: none

chore: adding changelog file 430.miscellaneous.md [dependabot-skip]
  doc/changelog.d/430.miscellaneous.md
Labels: none

chore: adding changelog file 428.maintenance.md [dependabot-skip]
  doc/changelog.d/428.maintenance.md
Labels: none

chore: adding changelog file 429.miscellaneous.md [dependabot-skip]
  doc/changelog.d/429.miscellaneous.md
Labels: none

chore: adding changelog file 427.maintenance.md [dependabot-skip]
  doc/changelog.d/427.maintenance.md
Labels: none

chore: adding changelog file 431.miscellaneous.md [dependabot-skip]
  doc/changelog.d/431.miscellaneous.md
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'README.md']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'pyproject.toml', 'tox.ini', '.pre-commit-config.yaml']

testing:
- changed-files:
  - any-glob-to-any-file: ['tests/*']
