Repository ansys/ansys-tools-visualization-interface, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'README.md']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'pyproject.toml', 'tox.ini', '.pre-commit-config.yaml']

testing:
- changed-files:
  - any-glob-to-any-file: ['tests/*']

fix: Skip Qt test
  .github/workflows/ci_cd.yml
  tests/test_generic_plotter.py
Labels: maintenance, testing

fix: Remove code execution from example
  examples/00-basic-pyvista-examples/qt_backend.py
Labels: none

fix: Refactor to have independent backend
  .github/workflows/ci_cd.yml
  examples/00-basic-pyvista-examples/qt_backend.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvistaqt_interface.py
  tests/test_generic_plotter.py
Labels: maintenance, testing

fix: Depenency pinning, remove sys deps
  .github/workflows/ci_cd.yml
  pyproject.toml
Labels: maintenance

fix: Minor details
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvistaqt_interface.py
  src/ansys/tools/visualization_interface/plotter.py
Labels: none

fix: Sys deps
  .github/workflows/ci_cd.yml
Labels: maintenance

Revert "fix: Sys deps"
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: Revert refactor commits
  .github/workflows/ci_cd.yml
  examples/00-basic-pyvista-examples/qt_backend.py
  pyproject.toml
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvistaqt_interface.py
  src/ansys/tools/visualization_interface/plotter.py
  tests/test_generic_plotter.py
Labels: maintenance, testing

fix: Review comments
  .github/workflows/ci_cd.yml
  examples/00-basic-pyvista-examples/qt_backend.py
  pyproject.toml
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
Labels: maintenance

fix: Commented code
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: none

fix: Revert code block comment in examples
  examples/00-basic-pyvista-examples/qt_backend.py
Labels: none

fix: Add missing import check
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: none

fix: Align env variables
  tests/test_generic_plotter.py
Labels: testing

feat: Add PyVista Qt support (#192)
  .github/workflows/ci_cd.yml
  doc/changelog.d/192.added.md
  examples/00-basic-pyvista-examples/qt_backend.py
  pyproject.toml
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
  src/ansys/tools/visualization_interface/plotter.py
  tests/test_generic_plotter.py
Labels: maintenance, testing

chore: adding changelog file 193.dependencies.md [dependabot-skip]
  doc/changelog.d/193.dependencies.md
Labels: none

chore: adding changelog file 194.dependencies.md [dependabot-skip]
  doc/changelog.d/194.dependencies.md
Labels: none

chore: adding changelog file 195.maintenance.md [dependabot-skip]
  doc/changelog.d/195.maintenance.md
Labels: none

Bump version 0.6.0
  pyproject.toml
Labels: maintenance

chore: updating CHANGELOG for v0.6.0
  CHANGELOG.md
  doc/changelog.d/181.maintenance.md
  doc/changelog.d/182.dependencies.md
  doc/changelog.d/183.dependencies.md
  doc/changelog.d/184.maintenance.md
  doc/changelog.d/186.maintenance.md
  doc/changelog.d/188.dependencies.md
  doc/changelog.d/189.maintenance.md
  doc/changelog.d/190.dependencies.md
  doc/changelog.d/191.maintenance.md
  doc/changelog.d/192.added.md
  doc/changelog.d/193.dependencies.md
  doc/changelog.d/194.dependencies.md
  doc/changelog.d/195.maintenance.md
Labels: none

chore: updating CHANGELOG for v0.6.0
  CHANGELOG.md
  doc/changelog.d/181.maintenance.md
  doc/changelog.d/182.dependencies.md
  doc/changelog.d/183.dependencies.md
  doc/changelog.d/184.maintenance.md
  doc/changelog.d/186.maintenance.md
  doc/changelog.d/188.dependencies.md
  doc/changelog.d/189.maintenance.md
  doc/changelog.d/190.dependencies.md
  doc/changelog.d/191.maintenance.md
  doc/changelog.d/192.added.md
  doc/changelog.d/193.dependencies.md
  doc/changelog.d/194.dependencies.md
  doc/changelog.d/195.maintenance.md
Labels: none

chore: adding changelog file 196.maintenance.md [dependabot-skip]
  doc/changelog.d/196.maintenance.md
Labels: none

chore: adding changelog file 197.dependencies.md [dependabot-skip]
  doc/changelog.d/197.dependencies.md
Labels: none

chore: adding changelog file 198.dependencies.md [dependabot-skip]
  doc/changelog.d/198.dependencies.md
Labels: none

chore: adding changelog file 199.dependencies.md [dependabot-skip]
  doc/changelog.d/199.dependencies.md
Labels: none

chore: adding changelog file 200.dependencies.md [dependabot-skip]
  doc/changelog.d/200.dependencies.md
Labels: none

chore: adding changelog file 201.maintenance.md [dependabot-skip]
  doc/changelog.d/201.maintenance.md
Labels: none

chore: adding changelog file 203.dependencies.md [dependabot-skip]
  doc/changelog.d/203.dependencies.md
Labels: none

chore: adding changelog file 204.dependencies.md [dependabot-skip]
  doc/changelog.d/204.dependencies.md
Labels: none

chore: adding changelog file 205.maintenance.md [dependabot-skip]
  doc/changelog.d/205.maintenance.md
Labels: none

fix: avoid passing twice same argument
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: none

chore: adding changelog file 207.fixed.md [dependabot-skip]
  doc/changelog.d/207.fixed.md
Labels: none

fix: avoid passing twice same argument (#207)
  doc/changelog.d/207.fixed.md
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: none

fix: not checking if actors have datasets.
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/mesh_slider.py
Labels: none

chore: adding changelog file 209.fixed.md [dependabot-skip]
  doc/changelog.d/209.fixed.md
Labels: none

Bump version 0.6.1
  doc/changelog.d/209.fixed.md
  pyproject.toml
Labels: maintenance

chore: updating CHANGELOG for v0.6.1
  CHANGELOG.md
  doc/changelog.d/209.fixed.md
Labels: none

chore: updating CHANGELOG for v0.6.1
  CHANGELOG.md
Labels: none

chore: adding changelog file 210.maintenance.md [dependabot-skip]
  doc/changelog.d/210.maintenance.md
Labels: none

fix: not checking if actors have datasets. (#209)
  doc/changelog.d/209.fixed.md
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/mesh_slider.py
Labels: none

Bump version 0.6.2
  doc/changelog.d/209.fixed.md
  pyproject.toml
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/mesh_slider.py
Labels: maintenance
