Repository ansys/ansys-tools-visualization-interface, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

chore: adding changelog file 453.miscellaneous.md [dependabot-skip]
  doc/changelog.d/453.miscellaneous.md
Labels: none

chore: adding changelog file 458.miscellaneous.md [dependabot-skip]
  doc/changelog.d/458.miscellaneous.md
Labels: none

chore: adding changelog file 456.maintenance.md [dependabot-skip]
  doc/changelog.d/456.maintenance.md
Labels: none

chore: adding changelog file 457.maintenance.md [dependabot-skip]
  doc/changelog.d/457.maintenance.md
Labels: none

chore: adding changelog file 459.miscellaneous.md [dependabot-skip]
  doc/changelog.d/459.miscellaneous.md
Labels: none

fix: Delete unneeded files
  examples/00-basic-pyvista-examples/toggle_subtree_separated.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/toggle_subtree.py
Labels: none

feat: Add tree menu
  examples/00-basic-pyvista-examples/dynamic_tree_menu_demo.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/__init__.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/dynamic_tree_menu.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/hide_buttons.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/screenshot.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/tree_menu_toggle.py
  tests/test_tree_visibility.py
Labels: testing

fix: Hide by default
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/dynamic_tree_menu.py
Labels: none

feat: Add tree icon
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/tree.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/tree_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/dynamic_tree_menu.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/tree_menu_toggle.py
Labels: none

fix: Small fixes
  examples/00-basic-pyvista-examples/tree_menu.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/dynamic_tree_menu.py
Labels: none

fix: Example docs
  examples/00-basic-pyvista-examples/tree_menu.py
Labels: none

fix: Unused file
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/hide_children.py
Labels: none

fix: Cleanup
  examples/00-basic-pyvista-examples/dynamic_tree_menu_demo.py
  src/ansys/tools/visualization_interface/backends/pyvista/picker.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/__init__.py
  tests/test_tree_visibility.py
Labels: testing

fix: Check vulns
  .github/workflows/ci_cd.yml
Labels: maintenance

chore: adding changelog file 455.maintenance.md [dependabot-skip]
  doc/changelog.d/455.maintenance.md
Labels: none

fix: Show logs
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: revert old impl
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
Labels: none

chore: adding changelog file 460.miscellaneous.md [dependabot-skip]
  doc/changelog.d/460.miscellaneous.md
Labels: none

chore: adding changelog file 461.maintenance.md [dependabot-skip]
  doc/changelog.d/461.maintenance.md
Labels: none

feat: Tree show/hide (#455)
  .github/workflows/ci_cd.yml
  .gitignore
  doc/changelog.d/455.maintenance.md
  examples/00-basic-pyvista-examples/tree_menu.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/tree.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/tree_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/dynamic_tree_menu.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/hide_buttons.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/screenshot.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/tree_menu_toggle.py
  src/ansys/tools/visualization_interface/types/mesh_object_plot.py
  tests/test_tree_visibility.py
Labels: maintenance, testing

feat: Add PyVista animations
  examples/00-basic-pyvista-examples/animation.py
  pyproject.toml
  src/ansys/tools/visualization_interface/backends/pyvista/__init__.py
  src/ansys/tools/visualization_interface/backends/pyvista/animation.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/next.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/next_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/pause.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/pause_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/play.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/play_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/previous.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/previous_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/save.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/save_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/stop.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/dynamic_tree_menu.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/next_button.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/play_pause_button.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/previous_button.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/save_gif_button.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/stop_button.py
  src/ansys/tools/visualization_interface/plotter.py
  tests/test_animation.py
Labels: maintenance, testing

chore: adding changelog file 462.maintenance.md [dependabot-skip]
  doc/changelog.d/462.maintenance.md
Labels: none

fix: Add missing icon
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/stop_inv.png
Labels: none

fix: docs
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/plotter.py
Labels: none

feat: Add PyVista animations (#462)
  doc/changelog.d/462.maintenance.md
  examples/00-basic-pyvista-examples/animation.py
  pyproject.toml
  src/ansys/tools/visualization_interface/backends/pyvista/__init__.py
  src/ansys/tools/visualization_interface/backends/pyvista/animation.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/next.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/next_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/pause.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/pause_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/play.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/play_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/previous.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/previous_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/save.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/save_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/stop.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/stop_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/dynamic_tree_menu.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/next_button.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/play_pause_button.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/previous_button.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/save_gif_button.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/stop_button.py
  src/ansys/tools/visualization_interface/plotter.py
  tests/test_animation.py
Labels: maintenance, testing

fix: Except pass issue
  src/ansys/tools/visualization_interface/backends/pyvista/animation.py
Labels: none

chore: adding changelog file 463.miscellaneous.md [dependabot-skip]
  doc/changelog.d/463.miscellaneous.md
Labels: none

fix: Except pass issue (#463)
  doc/changelog.d/463.miscellaneous.md
  src/ansys/tools/visualization_interface/backends/pyvista/animation.py
Labels: none

feat: Add parallel projection button
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
  src/ansys/tools/visualization_interface/backends/pyvista/trame_local.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/parallel_projection.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/parallel_projection_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/parallel_projection.py
Labels: none

chore: adding changelog file 464.miscellaneous.md [dependabot-skip]
  doc/changelog.d/464.miscellaneous.md
Labels: none

feat: Add customization APIs
  examples/00-basic-pyvista-examples/README.txt
  examples/00-basic-pyvista-examples/customization_api.py
  examples/01-basic-plotly-examples/customization_api.py
  src/ansys/tools/visualization_interface/backends/_base.py
  src/ansys/tools/visualization_interface/backends/plotly/plotly_interface.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/plotter.py
Labels: none

fix: unneeded docs
  examples/00-basic-pyvista-examples/README.txt
Labels: none

chore: adding changelog file 465.miscellaneous.md [dependabot-skip]
  doc/changelog.d/465.miscellaneous.md
Labels: none

fix: bugs and docs
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: none

feat: add more customization apis
  src/ansys/tools/visualization_interface/backends/_base.py
  src/ansys/tools/visualization_interface/backends/plotly/plotly_interface.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/plotter.py
Labels: none

feat: Add parallel projection button (#464)
  doc/changelog.d/464.miscellaneous.md
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
  src/ansys/tools/visualization_interface/backends/pyvista/trame_local.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/parallel_projection.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/parallel_projection_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/parallel_projection.py
Labels: none

chore: adding changelog file 467.miscellaneous.md [dependabot-skip]
  doc/changelog.d/467.miscellaneous.md
Labels: none

fix: Revert API changes
  src/ansys/tools/visualization_interface/backends/_base.py
  src/ansys/tools/visualization_interface/backends/plotly/plotly_interface.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/plotter.py
Labels: none

test: Add tests for the public API
  tests/test_customization_api.py
Labels: testing

chore: adding changelog file 468.maintenance.md [dependabot-skip]
  doc/changelog.d/468.maintenance.md
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'README.md']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'pyproject.toml', 'tox.ini', '.pre-commit-config.yaml']

testing:
- changed-files:
  - any-glob-to-any-file: ['tests/*']
