Repository ansys/ansys-tools-visualization-interface, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'README.md']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'pyproject.toml', 'tox.ini', '.pre-commit-config.yaml']

testing:
- changed-files:
  - any-glob-to-any-file: ['tests/*']

feat: Add service as in example
  examples/00-basic-pyvista-examples/README.txt
  examples/00-basic-pyvista-examples/clipping_plane.py
  examples/00-basic-pyvista-examples/picker.py
  examples/00-basic-pyvista-examples/plain_usage.py
  examples/00-basic-pyvista-examples/remote_trame_view.py
  examples/00-basic-pyvista-examples/using_meshobject.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/trame_local.py
  src/ansys/tools/visualization_interface/backends/pyvista/trame_remote.py
  src/ansys/tools/visualization_interface/backends/pyvista/trame_service.py
Labels: none

fix: add final line
  examples/00-basic-pyvista-examples/picker.py
Labels: none

fix: Add missing dependency
  pyproject.toml
Labels: maintenance

fix: undo __init__ imports
  examples/00-basic-pyvista-examples/remote_trame_view.py
  src/ansys/tools/visualization_interface/backends/__init__.py
Labels: none

fix: Example
  examples/00-basic-pyvista-examples/using_meshobject.py
Labels: none

fix: Example
  examples/00-basic-pyvista-examples/using_meshobject.py
Labels: none

fix: Dependency issues
  pyproject.toml
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/trame_service.py
Labels: maintenance

fix: Example as pure documentation
  examples/00-basic-pyvista-examples/remote_trame_view.py
Labels: none

fix: Example reference
  examples/00-basic-pyvista-examples/remote_trame_view.py
Labels: none

fix: Example
  examples/00-basic-pyvista-examples/remote_trame_view.py
Labels: none

fix: Use rst literals
  examples/00-basic-pyvista-examples/remote_trame_view.py
Labels: none

Apply suggestions from code review
  src/ansys/tools/visualization_interface/backends/pyvista/trame_remote.py
  src/ansys/tools/visualization_interface/backends/pyvista/trame_service.py
Labels: none

fix> Review comments
  pyproject.toml
  src/ansys/tools/visualization_interface/backends/pyvista/trame_remote.py
  src/ansys/tools/visualization_interface/backends/pyvista/trame_service.py
Labels: maintenance

fix: Missing upper limits
  pyproject.toml
Labels: maintenance

fix: Add docstring for new parameters
  src/ansys/tools/visualization_interface/backends/pyvista/trame_remote.py
  src/ansys/tools/visualization_interface/backends/pyvista/trame_service.py
Labels: none

fix: Change URL for host
  src/ansys/tools/visualization_interface/backends/pyvista/trame_remote.py
  src/ansys/tools/visualization_interface/backends/pyvista/trame_service.py
Labels: none

feat: Add trame remote service and client in PyVista backend (#31)
  examples/00-basic-pyvista-examples/README.txt
  examples/00-basic-pyvista-examples/clipping_plane.py
  examples/00-basic-pyvista-examples/picker.py
  examples/00-basic-pyvista-examples/plain_usage.py
  examples/00-basic-pyvista-examples/remote_trame_view.py
  examples/00-basic-pyvista-examples/using_meshobject.py
  pyproject.toml
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/trame_local.py
  src/ansys/tools/visualization_interface/backends/pyvista/trame_remote.py
  src/ansys/tools/visualization_interface/backends/pyvista/trame_service.py
Labels: maintenance

fix: Add missing metadata files
  AUTHORS
  CONTRIBUTING.md
  CONTRIBUTORS.md
Labels: none

fix: Add code of conduct
  CODE_OF_CONDUCT.md
Labels: none

Update AUTHORS
  AUTHORS
Labels: none

fix: Add missing metadata files (#32)
  AUTHORS
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  CONTRIBUTORS.md
Labels: none

maint: update version to v0.2.dev0
  pyproject.toml
Labels: maintenance

fix: links
  README.rst
  doc/source/getting_started/index.rst
Labels: documentation

feat: various improvements
  README.rst
  pyproject.toml
Labels: maintenance

cicd: remove stages and uncomment release
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: action version
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: action version
  .github/workflows/ci_cd.yml
Labels: maintenance

maint: badges, version and various improvements (#33)
  .github/workflows/ci_cd.yml
  README.rst
  pyproject.toml
Labels: maintenance

release: v0.1.0
  pyproject.toml
Labels: maintenance

fix: unnecessary additional artifacts
  .github/workflows/ci_cd.yml
Labels: maintenance

Standardize capitalization of library name and other edits
  README.rst
  doc/source/conf.py
  doc/source/contributing.rst
  doc/source/getting_started/index.rst
  doc/source/index.rst
  doc/source/user_guide/index.rst
  examples/00-basic-pyvista-examples/README.txt
  examples/00-basic-pyvista-examples/clipping_plane.py
  examples/00-basic-pyvista-examples/using_meshobject.py
  examples/README.txt
  src/ansys/tools/visualization_interface/__init__.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/__init__.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/measure.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/ruler.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/widget.py
Labels: documentation

fix typo
  README.rst
Labels: none

Fix product name
  README.rst
Labels: none

Standardize capitalization of library name and other edits (#42)
  README.rst
  doc/source/conf.py
  doc/source/contributing.rst
  doc/source/getting_started/index.rst
  doc/source/index.rst
  doc/source/user_guide/index.rst
  examples/00-basic-pyvista-examples/README.txt
  examples/00-basic-pyvista-examples/clipping_plane.py
  examples/00-basic-pyvista-examples/using_meshobject.py
  examples/README.txt
  src/ansys/tools/visualization_interface/__init__.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/__init__.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/measure.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/ruler.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/widget.py
Labels: documentation

fix: Add proper behaviour in show method
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/plotter.py
Labels: none

fix: Remove view_2d parameter
  src/ansys/tools/visualization_interface/plotter.py
Labels: none

fix: Add missing parameter doc
  src/ansys/tools/visualization_interface/plotter.py
Labels: none

fix: Add proper behaviour in show method (#48)
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/plotter.py
Labels: none

fix: Off screen mode
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: none

feat: screenshot is only possible if off_screen is active
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: none
