Repository ansys/ansys-tools-visualization-interface, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

chore: adding changelog file 377.miscellaneous.md [dependabot-skip]
  doc/changelog.d/377.miscellaneous.md
Labels: none

chore: update CHANGELOG for v0.12.1 (#377)
  CHANGELOG.md
  doc/changelog.d/375.miscellaneous.md
  doc/changelog.d/377.miscellaneous.md
Labels: none

fix: Doc review suggestions
  doc/source/user_guide/index.rst
  doc/source/user_guide/migration.rst
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
Labels: documentation

fix: Vale
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: none

Update pyproject.toml
  pyproject.toml
Labels: maintenance

feat: Add Plotly as backend
  pyproject.toml
  src/ansys/tools/visualization_interface/backends/plotly/plotly_interface.py
Labels: maintenance

doc: Add extended migration guide (#363)
  doc/changelog.d/363.miscellaneous.md
  doc/source/index.rst
  doc/source/user_guide/index.rst
  doc/source/user_guide/migration.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
Labels: documentation

feat: Add support for plotly backend
  examples/01-basic-plotly-examples/plain-usage.py
  examples/99-advanced-pyansys-examples/README.txt
  examples/99-advanced-pyansys-examples/using_meshobject_with_field_data.py
  pyproject.toml
  src/ansys/tools/visualization_interface/backends/plotly/plotly_interface.py
  src/ansys/tools/visualization_interface/plotter.py
  src/ansys/tools/visualization_interface/types/__init__.py
  tests/conftest.py
  tests/test_generic_plotter.py
  tests/test_plotly_backend.py
Labels: maintenance, testing

chore: adding changelog file 378.maintenance.md [dependabot-skip]
  doc/changelog.d/378.maintenance.md
Labels: none

fix: Pre-commit and docs
  .github/workflows/ci_cd.yml
  examples/01-basic-plotly-examples/plain-usage.py
  pyproject.toml
  src/ansys/tools/visualization_interface/backends/plotly/plotly_interface.py
  tests/conftest.py
  tests/test_plotly_backend.py
Labels: maintenance, testing

fix: Add noqa
  src/ansys/tools/visualization_interface/types/__init__.py
Labels: none

fix: CICD
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: CICD
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: Plotly version
  pyproject.toml
Labels: maintenance

fix: doc issues
  examples/01-basic-plotly-examples/README.txt
  examples/01-basic-plotly-examples/plain-usage.py
  src/ansys/tools/visualization_interface/backends/plotly/__init__.py
Labels: none

fix: docs deps
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: doc deps
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: CICD docs
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: Add support for MultiBlock
  examples/01-basic-plotly-examples/plain-usage.py
  src/ansys/tools/visualization_interface/backends/plotly/plotly_interface.py
  src/ansys/tools/visualization_interface/types/edge_plot.py
  src/ansys/tools/visualization_interface/types/mesh_object_plot.py
  tests/test_plotly_backend.py
Labels: testing

fix: Typing
  src/ansys/tools/visualization_interface/types/__init__.py
  src/ansys/tools/visualization_interface/types/edge_plot.py
  src/ansys/tools/visualization_interface/types/mesh_object_plot.py
Labels: none

fix: Imports
  examples/01-basic-plotly-examples/plain-usage.py
  tests/test_plotly_backend.py
Labels: testing

fix: if-else
  src/ansys/tools/visualization_interface/backends/plotly/plotly_interface.py
Labels: none

feat: Add Plotly as backend (#378)
  .github/workflows/ci_cd.yml
  doc/changelog.d/378.maintenance.md
  examples/01-basic-plotly-examples/README.txt
  examples/01-basic-plotly-examples/plain-usage.py
  examples/99-advanced-pyansys-examples/README.txt
  examples/99-advanced-pyansys-examples/using_meshobject_with_field_data.py
  pyproject.toml
  src/ansys/tools/visualization_interface/backends/plotly/__init__.py
  src/ansys/tools/visualization_interface/backends/plotly/plotly_interface.py
  src/ansys/tools/visualization_interface/plotter.py
  src/ansys/tools/visualization_interface/types/edge_plot.py
  src/ansys/tools/visualization_interface/types/mesh_object_plot.py
  tests/conftest.py
  tests/test_generic_plotter.py
  tests/test_plotly_backend.py
Labels: maintenance, testing

chore: adding changelog file 389.miscellaneous.md [dependabot-skip]
  doc/changelog.d/389.miscellaneous.md
Labels: none

chore: adding changelog file 390.miscellaneous.md [dependabot-skip]
  doc/changelog.d/390.miscellaneous.md
Labels: none

chore: adding changelog file 391.miscellaneous.md [dependabot-skip]
  doc/changelog.d/391.miscellaneous.md
Labels: none

feat: Add view buttons, toggle bounding box axes and change between orthogonal and perspective projections
  src/ansys/tools/visualization_interface/backends/plotly/plotly_interface.py
  src/ansys/tools/visualization_interface/backends/plotly/widgets/button_manager.py
Labels: none

chore: adding changelog file 392.miscellaneous.md [dependabot-skip]
  doc/changelog.d/392.miscellaneous.md
Labels: none

fix: Cleanup
  src/ansys/tools/visualization_interface/backends/plotly/widgets/button_manager.py
Labels: none

chore: adding changelog file 392.miscellaneous.md [dependabot-skip]
  doc/changelog.d/392.miscellaneous.md
Labels: none

fix: More cleanup
  src/ansys/tools/visualization_interface/backends/plotly/widgets/button_manager.py
Labels: none

fix: Missing init
  src/ansys/tools/visualization_interface/backends/plotly/widgets/__init__.py
Labels: none

fix: Remove coordinates defaults
  src/ansys/tools/visualization_interface/backends/plotly/widgets/button_manager.py
Labels: none

fix: Update docstring
  src/ansys/tools/visualization_interface/backends/plotly/widgets/button_manager.py
Labels: none

fix: Docstring parameters order
  src/ansys/tools/visualization_interface/backends/plotly/widgets/button_manager.py
Labels: none

fix: Ignore PyVista links in linkchecker
  doc/source/conf.py
Labels: documentation

feat(Plotly): Add view buttons, toggle bounding box axes and change between orthogonal and perspective projections (#392)
  doc/changelog.d/392.miscellaneous.md
  doc/source/conf.py
  src/ansys/tools/visualization_interface/backends/plotly/plotly_interface.py
  src/ansys/tools/visualization_interface/backends/plotly/widgets/__init__.py
  src/ansys/tools/visualization_interface/backends/plotly/widgets/button_manager.py
Labels: documentation

feat(plotly): Add night mode button
  examples/01-basic-plotly-examples/plain-usage.py
  src/ansys/tools/visualization_interface/backends/plotly/plotly_interface.py
  src/ansys/tools/visualization_interface/backends/plotly/widgets/button_manager.py
Labels: none

chore: adding changelog file 394.miscellaneous.md [dependabot-skip]
  doc/changelog.d/394.miscellaneous.md
Labels: none

fix: Avoid using template due to serialization issues
  src/ansys/tools/visualization_interface/backends/plotly/widgets/button_manager.py
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'README.md']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'pyproject.toml', 'tox.ini', '.pre-commit-config.yaml']

testing:
- changed-files:
  - any-glob-to-any-file: ['tests/*']
