Repository ansys/ansys-tools-visualization-interface, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'README.md']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'pyproject.toml', 'tox.ini', '.pre-commit-config.yaml']

testing:
- changed-files:
  - any-glob-to-any-file: ['tests/*']

build: remove ansys-tools-usdviewer from doc deps, keep only usd-core
  pyproject.toml
Labels: maintenance

docs(plan): add consolidate-usd-html-export migration plan; clean previous SDD scratch
  .superpowers/sdd/progress.md
  .superpowers/sdd/task-1-brief.md
  .superpowers/sdd/task-1-report.md
  .superpowers/sdd/task-2-brief.md
  .superpowers/sdd/task-2-report.md
  .superpowers/sdd/task-2-review-pkg.diff
  .superpowers/sdd/task-3-brief.md
  .superpowers/sdd/task-3-report.md
  .superpowers/sdd/task-3-review-pkg.diff
  .superpowers/sdd/task-4-brief.md
  docs/superpowers/plans/2026-07-16-consolidate-usd-html-export.md
Labels: none

build(usd): split [usd] extra and add pygltflib runtime dep
  pyproject.toml
Labels: maintenance

feat(usd): vendor VTKConverter from ansys-tools-usdviewer
  src/ansys/tools/visualization_interface/backends/usd/vtk_converter.py
Labels: none

docs(plan): relax license-header constraint (pre-commit normalizes it)
  docs/superpowers/plans/2026-07-16-consolidate-usd-html-export.md
Labels: none

refactor(usd): make html_export self-contained (drop usdviewer dep)
  src/ansys/tools/visualization_interface/backends/usd/html_export.py
  src/ansys/tools/visualization_interface/backends/usd/web/__init__.py
  src/ansys/tools/visualization_interface/backends/usd/web/glb.py
  src/ansys/tools/visualization_interface/backends/usd/web/glb_builder.py
  src/ansys/tools/visualization_interface/backends/usd/web/glb_lights.py
  src/ansys/tools/visualization_interface/backends/usd/web/glb_materials.py
  src/ansys/tools/visualization_interface/backends/usd/web/glb_mesh.py
  src/ansys/tools/visualization_interface/backends/usd/web/glb_template.html
  src/ansys/tools/visualization_interface/backends/usd/web/templates.py
  tests/test_usd_html_export_decoupled.py
Labels: testing

refactor(usd): import VTKConverter from local module
  src/ansys/tools/visualization_interface/backends/usd/usd_interface.py
Labels: none

test(usd): rewrite unit tests against local html_export boundary
  tests/test_usd_html_export.py
Labels: testing

test(usd): run integration tests against local pipeline
  tests/test_usd_html_export_integration.py
Labels: testing

docs(usd): update install instructions after html-export decoupling
  doc/source/user_guide/usdviewer.rst
Labels: documentation

docs: changelog for self-contained USD HTML export
  CHANGELOG.md
Labels: none

test(usd): fix pxr mock shadowing in TestInjectMeshLines
  docs/superpowers/plans/2026-07-16-consolidate-usd-html-export.md
  tests/test_usd_html_export.py
Labels: testing

fix: Inverted textures
  src/ansys/tools/visualization_interface/backends/usd/web/glb_mesh.py
Labels: none

fix: Example
  examples/02-basic-usd-examples/usd_to_html_export.py
Labels: none

chore: adding changelog file 575.added.md [dependabot-skip]
  doc/changelog.d/575.added.md
Labels: none

fix: Deps, vocab
  doc/styles/config/vocabularies/ANSYS/accept.txt
  docs/superpowers/plans/2026-07-16-consolidate-usd-html-export.md
  docs/superpowers/plans/2026-07-16-usd-to-html-export.md
  pyproject.toml
Labels: maintenance

fix: Deps
  pyproject.toml
Labels: maintenance

fix: Example
  examples/02-basic-usd-examples/usd_to_html_export.py
Labels: none

Apply suggestions from code review
  examples/02-basic-usd-examples/usd_to_html_export.py
  pyproject.toml
Labels: maintenance

feat: Allow custom HTML templates
  pyproject.toml
  src/ansys/tools/visualization_interface/backends/usd/html_export.py
  src/ansys/tools/visualization_interface/backends/usd/web/templates.py
  tests/test_usd_html_export.py
Labels: maintenance, testing

feat: Add template validator and docs
  doc/source/user_guide/usdviewer.rst
  src/ansys/tools/visualization_interface/backends/usd/html_export.py
  src/ansys/tools/visualization_interface/backends/usd/web/templates.py
  tests/test_usd_html_export.py
Labels: documentation, testing

fix: vale
  doc/source/user_guide/usdviewer.rst
Labels: documentation

feat: Move and improve USD to HTML logic to visualization interface (#575)
  CHANGELOG.md
  doc/changelog.d/575.added.md
  doc/source/user_guide/usdviewer.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
  examples/02-basic-usd-examples/usd_to_html_export.py
  pyproject.toml
  src/ansys/tools/visualization_interface/__init__.py
  src/ansys/tools/visualization_interface/backends/usd/html_export.py
  src/ansys/tools/visualization_interface/backends/usd/usd_interface.py
  src/ansys/tools/visualization_interface/backends/usd/vtk_converter.py
  src/ansys/tools/visualization_interface/backends/usd/web/__init__.py
  src/ansys/tools/visualization_interface/backends/usd/web/glb.py
  src/ansys/tools/visualization_interface/backends/usd/web/glb_builder.py
  src/ansys/tools/visualization_interface/backends/usd/web/glb_lights.py
  src/ansys/tools/visualization_interface/backends/usd/web/glb_materials.py
  src/ansys/tools/visualization_interface/backends/usd/web/glb_mesh.py
  src/ansys/tools/visualization_interface/backends/usd/web/glb_template.html
  src/ansys/tools/visualization_interface/backends/usd/web/templates.py
  tests/test_usd_html_export.py
  tests/test_usd_html_export_decoupled.py
  tests/test_usd_html_export_integration.py
Labels: documentation, maintenance, testing

chore: adding changelog file 576.maintenance.md [dependabot-skip]
  doc/changelog.d/576.maintenance.md
Labels: none

fix: Bump USD version
  pyproject.toml
Labels: maintenance

chore: adding changelog file 577.fixed.md [dependabot-skip]
  doc/changelog.d/577.fixed.md
Labels: none

fix: Bump USD version (#577)
  doc/changelog.d/577.fixed.md
  pyproject.toml
Labels: maintenance

chore: adding changelog file 578.dependencies.md [dependabot-skip]
  doc/changelog.d/578.dependencies.md
Labels: none

chore: adding changelog file 579.dependencies.md [dependabot-skip]
  doc/changelog.d/579.dependencies.md
Labels: none

Bump version 0.14.0
  pyproject.toml
Labels: maintenance

chore: adding changelog file 580.documentation.md [dependabot-skip]
  doc/changelog.d/580.documentation.md
Labels: none

fix: Changelog file
  CHANGELOG.md
Labels: none

chore: adding changelog file 581.fixed.md [dependabot-skip]
  doc/changelog.d/581.fixed.md
Labels: none

fix: Changelog file (#581)
  CHANGELOG.md
  doc/changelog.d/581.fixed.md
Labels: none

chore: adding changelog file 582.maintenance.md [dependabot-skip]
  doc/changelog.d/582.maintenance.md
Labels: none

chore: adding changelog file 583.dependencies.md [dependabot-skip]
  doc/changelog.d/583.dependencies.md
Labels: none

chore: adding changelog file 584.dependencies.md [dependabot-skip]
  doc/changelog.d/584.dependencies.md
Labels: none

chore: update SECURITY.md file
  SECURITY.md
Labels: none

chore: adding changelog file 585.maintenance.md [dependabot-skip]
  doc/changelog.d/585.maintenance.md
Labels: none

chore: adding changelog file 586.maintenance.md [dependabot-skip]
  doc/changelog.d/586.maintenance.md
Labels: none
