Repository ansys/ansys-tools-visualization-interface, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'README.md']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'pyproject.toml', 'tox.ini', '.pre-commit-config.yaml']

testing:
- changed-files:
  - any-glob-to-any-file: ['tests/*']

chore: adding changelog file 188.dependencies.md [dependabot-skip]
  doc/changelog.d/188.dependencies.md
Labels: none

chore: adding changelog file 189.maintenance.md [dependabot-skip]
  doc/changelog.d/189.maintenance.md
Labels: none

chore: adding changelog file 190.dependencies.md [dependabot-skip]
  doc/changelog.d/190.dependencies.md
Labels: none

chore: adding changelog file 191.maintenance.md [dependabot-skip]
  doc/changelog.d/191.maintenance.md
Labels: none

feat: Add PyVista Qt support
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: none

feat: Add example
  examples/00-basic-pyvista-examples/qt_backend.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: none

test: Add test for Qt backend
  tests/test_generic_plotter.py
Labels: testing

chore: adding changelog file 192.added.md [dependabot-skip]
  doc/changelog.d/192.added.md
Labels: none

feat: Add PyVistaQt as optional dependency
  pyproject.toml
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: maintenance

fix(temp): Try windows machine
  .github/workflows/ci_cd.yml
Labels: maintenance

fix(temp): Windows test
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: Update python version in CICD
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: Possible missing installations
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: Add qt plugin
  pyproject.toml
Labels: maintenance

fix: Installable
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: Missing sudo
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: More installations
  .github/workflows/ci_cd.yml
Labels: maintenance

temp: Downgrade PySide6
  pyproject.toml
Labels: maintenance

fix: Doc dependency
  .github/workflows/ci_cd.yml
  pyproject.toml
Labels: maintenance

fix: Dependencies
  pyproject.toml
Labels: maintenance

fix: Dependency
  pyproject.toml
Labels: maintenance

test
  pyproject.toml
Labels: maintenance

fix: deps
  pyproject.toml
Labels: maintenance

fix: Deps
  pyproject.toml
Labels: maintenance

fix deps
  .github/workflows/ci_cd.yml
  pyproject.toml
Labels: maintenance

fix: Deps
  .github/workflows/ci_cd.yml
Labels: maintenance

examples test
  examples/00-basic-pyvista-examples/qt_backend.py
Labels: none

fixes
  pyproject.toml
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: maintenance

feat: Implement close for PyvistaQT
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
  src/ansys/tools/visualization_interface/plotter.py
  tests/test_generic_plotter.py
Labels: testing

fix: linux deps
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: linux deps
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: Linux deps
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: linux deps
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: deps
  .github/workflows/ci_cd.yml
Labels: maintenance

test
  pyproject.toml
Labels: maintenance

test
  .github/workflows/ci_cd.yml
  pyproject.toml
Labels: maintenance

fix: linux dep
  .github/workflows/ci_cd.yml
Labels: maintenance

test
  .github/workflows/ci_cd.yml
Labels: maintenance

test
  .github/workflows/ci_cd.yml
Labels: maintenance

test
  .github/workflows/ci_cd.yml
Labels: maintenance
