Repository ansys/ansys-tools-visualization-interface, pull requests merged in 2024-06, with the labels that each got.

#71 fix: Off_screen not working properly
  doc/changelog.d/71.fixed.md
  doc/source/conf.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: bug, documentation

#73 fix: Bug in MeshObject clipping
  doc/changelog.d/73.fixed.md
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: bug

#62 fix: Ignore pickle vulnerability
  doc/changelog.d/62.fixed.md
  src/ansys/tools/visualization_interface/backends/pyvista/trame_remote.py
  src/ansys/tools/visualization_interface/backends/pyvista/trame_service.py
Labels: bug

#75 fix: Rename built in shadowing variables
  doc/changelog.d/75.fixed.md
  src/ansys/tools/visualization_interface/backends/_base.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
  src/ansys/tools/visualization_interface/plotter.py
  tests/test_generic_plotter.py
Labels: bug, testing

#76 maint: Add CODEOWNERS file
  .github/CODEOWNERS
  doc/changelog.d/76.changed.md
Labels: maintenance

#77 maint: Add project URLs to toml
  doc/changelog.d/77.changed.md
  pyproject.toml
Labels: maintenance

#80 maint: Upload PDF documentation
  .github/workflows/ci_cd.yml
  doc/changelog.d/80.changed.md
Labels: maintenance

#81 fix: Add details to contributing guide
  .github/workflows/ci_cd.yml
  CONTRIBUTING.md
  doc/changelog.d/81.changed.md
  tests/conftest.py
Labels: documentation, maintenance, testing

#86 feat: add dynamic scraper on docs
  .gitignore
  doc/changelog.d/86.added.md
  doc/make.bat
  doc/source/conf.py
Labels: documentation, enhancement

#88 fix: dynamic scraper via vtk-osmesa
  doc/Makefile
  doc/changelog.d/88.fixed.md
  doc/make.bat
Labels: bug
