Repository ansys/ansys-tools-visualization-interface, pull requests merged in 2024-10, with the labels that each got.

#156 fix: Contributors file template
  CONTRIBUTORS.md
  doc/changelog.d/156.fixed.md
Labels: bug

#159 fix: Remove deprecated name checking action
  .github/workflows/ci_cd.yml
  doc/changelog.d/159.maintenance.md
Labels: maintenance

#161 maint: add hacktoberfest labels
  .github/labels.yml
  doc/changelog.d/161.maintenance.md
Labels: maintenance

#164 fix: update labeler and ci_cd to use email and username
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
  doc/changelog.d/164.fixed.md
Labels: bug, maintenance

#165 fix: Missing non initialized variable
  doc/changelog.d/165.fixed.md
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: bug

#172 fix: handle properly multi_colors=False
  doc/changelog.d/172.fixed.md
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: bug

#178 fix: Changelog action failing on release
  doc/changelog.d/178.fixed.md
  pyproject.toml
Labels: bug, maintenance

#180 feat: Add StructuredGrid support
  doc/changelog.d/180.added.md
  examples/00-basic-pyvista-examples/picker.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/mesh_slider.py
  tests/test_generic_plotter.py
Labels: enhancement, testing

#179 fix: Reduce import time of the library
  doc/changelog.d/179.fixed.md
  pyproject.toml
  src/ansys/tools/visualization_interface/backends/_base.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
  src/ansys/tools/visualization_interface/backends/pyvista/trame_local.py
  src/ansys/tools/visualization_interface/backends/pyvista/trame_remote.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/hide_buttons.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/measure.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/mesh_slider.py
  src/ansys/tools/visualization_interface/plotter.py
  src/ansys/tools/visualization_interface/types/edge_plot.py
  src/ansys/tools/visualization_interface/types/mesh_object_plot.py
  src/ansys/tools/visualization_interface/utils/clip_plane.py
Labels: bug, maintenance
