Repository ansys/ansys-tools-visualization-interface, pull requests merged in 2024-07, with the labels that each got.

#92 feat: Add interactive documentation
  doc/Makefile
  doc/changelog.d/92.added.md
  doc/source/conf.py
  examples/00-basic-pyvista-examples/clipping_plane.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: documentation, enhancement

#93 fix: Search not working
  doc/changelog.d/93.fixed.md
  doc/source/conf.py
Labels: bug, documentation

#94 feat: Remove buttons on screenshot and static docs
  doc/changelog.d/94.added.md
  examples/00-basic-pyvista-examples/plain_usage.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
  tests/test_generic_plotter.py
Labels: enhancement, testing

#97 fix: Buttons still appearing in doc
  doc/changelog.d/97.fixed.md
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/measure.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/mesh_slider.py
Labels: bug

#99 feat: Add show/hide button for buttons
  doc/changelog.d/99.added.md
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/visibilityoff.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/visibilityon.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/hide_buttons.py
Labels: enhancement

#98 feat!: Add hover capabilities
  doc/changelog.d/98.added.md
  examples/00-basic-pyvista-examples/picker.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/measure.py
Labels: enhancement

#103 fix: Vue version alignment
  doc/changelog.d/103.fixed.md
  src/ansys/tools/visualization_interface/backends/pyvista/trame_local.py
Labels: bug

#112 Added postprocessing visualization example.
  doc/changelog.d/112.changed.md
  examples/01-advanced-pyansys-examples/README.txt
  examples/01-advanced-pyansys-examples/using_meshobject_with_field_data.py
  pyproject.toml
Labels: documentation, maintenance

#118 feat: allow for multi_colors argument in plotting options
  doc/changelog.d/118.added.md
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: enhancement

#119 fix: Allow PyVista HTML jupyter backend
  doc/changelog.d/119.fixed.md
  src/ansys/tools/visualization_interface/__init__.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: bug
