Repository ansys/ansys-tools-visualization-interface, pull requests merged in 2024-05, with the labels that each got.

#58 feat: add changelog and vulnerability check
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
  CHANGELOG.md
  doc/changelog.d/58.added.md
  doc/changelog.d/changelog_template.jinja
  pyproject.toml
Labels: enhancement, maintenance

#63 fix: Fix support for interactive documentation
  doc/changelog.d/63.fixed.md
  pyproject.toml
  src/ansys/tools/visualization_interface/__init__.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: bug, maintenance

#65 fix: usage of global vars throughout the library
  doc/changelog.d/65.fixed.md
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: bug

#68 ci: enable proper Codecov upload
  .github/workflows/ci_cd.yml
  doc/changelog.d/68.changed.md
Labels: maintenance
