Repository ansys/ansys-tools-visualization-interface, pull requests merged in 2025-04, with the labels that each got.

#275 fix: Allow jupyter backend manual selection
  doc/changelog.d/275.fixed.md
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
Labels: bug

#279 maint: Add missing input token to release CI
  .github/workflows/ci_cd.yml
  doc/changelog.d/279.maintenance.md
Labels: maintenance

#281 fix: pyvista read-only behaviour
  doc/changelog.d/281.fixed.md
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
Labels: bug

#288 maint: Update PyVista
  .github/workflows/ci_cd.yml
  .gitignore
  doc/Makefile
  doc/changelog.d/288.documentation.md
  doc/source/conf.py
  pyproject.toml
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/button.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/ruler.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/screenshot.py
  tox.ini
Labels: documentation, maintenance
