Repository ansys/ansys-tools-visualization-interface, pull requests merged in 2025-01, with the labels that each got.

#223 fix: PyVista Qt integration in third-party applications
  doc/changelog.d/223.added.md
  examples/00-basic-pyvista-examples/qt_backend.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista_interface.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/displace_arrows.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/hide_buttons.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/measure.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/mesh_slider.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/ruler.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/screenshot.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/view_button.py
  src/ansys/tools/visualization_interface/plotter.py
Labels: enhancement

#228 feat: Add dark mode when background is dark
  doc/changelog.d/228.added.md
  src/ansys/tools/visualization_interface/backends/pyvista/pyvista.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/+xy_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/+xz_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/+yz_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/-xy_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/-xz_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/-yz_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/designpoint.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/downarrow_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/isometric_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/measurement_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/planecut_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/ruler_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/screenshot_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/upxarrow_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/upyarrow_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/upzarrow_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/visibilityoff_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/_images/visibilityon_inv.png
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/button.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/displace_arrows.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/hide_buttons.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/measure.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/mesh_slider.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/ruler.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/screenshot.py
  src/ansys/tools/visualization_interface/backends/pyvista/widgets/view_button.py
Labels: enhancement

#229 test: Add tests for dark mode
  doc/changelog.d/229.test.md
  pyproject.toml
  tests/test_generic_plotter.py
Labels: maintenance, testing

#231 fix: Revert some bad changes from pre-commit
  doc/changelog.d/231.fixed.md
  examples/00-basic-pyvista-examples/remote_trame_view.py
  examples/01-advanced-pyansys-examples/using_meshobject_with_field_data.py
  src/ansys/tools/visualization_interface/utils/color.py
  src/ansys/tools/visualization_interface/utils/logger.py
Labels: bug

#233 fix: issues on changelog formats
  CHANGELOG.md
  doc/changelog.d/233.fixed.md
  pyproject.toml
Labels: bug, maintenance
